<div class="fr-card establishment_search">
  <%= form_with url: list_path(list), method: :get, scope: :search, class: "fr-search-bar", html: { class: "fr-search-bar__form" } do |f| %>
    <div class="fr-container--fluid fr-m-2w">
      <h2 class="fr-h4 fr-mt-1w">Filtrer les entreprises</h2>
      
      <!-- Database-based filters -->
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <%= f.label :q, "SIREN / Raison sociale", class: "fr-label" %>
            <div class="fr-input-wrap fr-icon-search-line">
              <%= f.text_field :q, value: search_params[:q], class: "fr-input", placeholder: "SIREN ou raison sociale" %>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <%= f.label :departement_in, "Départements", class: "fr-label" %>
            <%= f.collection_select :departement_in, current_user.geo_access.departments.order(:code), :code, ->(d) { "#{d.code} - #{d.name}" }, { selected: search_params[:departement_in] }, { multiple: true, class: "tom-select", data: { controller: "tom-select" } } %>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <%= f.label :effectif_min, "Effectif min. de l'entreprise", class: "fr-label" %>
            <%= f.number_field :effectif_min, value: search_params[:effectif_min], class: "fr-input", placeholder: "Nombre minimum d'employés", min: 0, step: 1 %>
          </div>
        </div>
      </div>



      <!-- Database-based filters -->

      <div data-controller="filters-toggle">
        <%= f.hidden_field :filters_open,
                           value: params.dig(:q, :filters_open) || "false",
                           id: "filters_open",
                           data: { filters_toggle_target: "filtersOpenInput" } %>
        <div data-filters-toggle-target="hiddenFilters" style="display: <%= params.dig(:q, :filters_open) == "true" ? "block" : "none" %>">
          <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <%= f.label :section_activite_principale, "Secteur d'activité", class: "fr-label" %>
                <%= f.select :section_activite_principale,
                             [
                               ["A - Agriculture, sylviculture et pêche", "A"],
                               ["B - Industries extractives", "B"],
                               ["C - Industrie manufacturière", "C"],
                               ["D - Production et distribution d'électricité, de gaz, de vapeur et d'air conditionné", "D"],
                               ["E - Production et distribution d'eau ; assainissement, gestion des déchets et dépollution", "E"],
                               ["F - Construction", "F"],
                               ["G - Commerce ; réparation d'automobiles et de motocycles", "G"],
                               ["H - Transports et entreposage", "H"],
                               ["I - Hébergement et restauration", "I"],
                               ["J - Information et communication", "J"],
                               ["K - Activités financières et d'assurance", "K"],
                               ["L - Activités immobilières", "L"],
                               ["M - Activités spécialisées, scientifiques et techniques", "M"],
                               ["N - Activités de services administratifs et de soutien", "N"],
                               ["O - Administration publique", "O"],
                               ["P - Enseignement", "P"],
                               ["Q - Santé humaine et action sociale", "Q"],
                               ["R - Arts, spectacles et activités récréatives", "R"],
                               ["S - Autres activités de services", "S"],
                               ["T - Activités des ménages en tant qu'employeurs ; activités indifférenciées des ménages en tant que producteurs de biens et services pour usage propre", "T"],
                               ["U - Activités extra-territoriales", "U"]
                             ],
                             { selected: search_params[:section_activite_principale] },
                             { multiple: true, class: "tom-select", data: { controller: "tom-select" } } %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <%= f.label :forme_juridique, "Forme juridique", class: "fr-label" %>
                <%= f.select :forme_juridique,
                             legal_forms_options.map { |code, label| ["#{code} - #{label}", code] },
                             { selected: search_params[:forme_juridique] },
                             { multiple: true, class: "tom-select", data: { controller: "tom-select" } } %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <%= f.label :score_min, "Score de défaillance min.", class: "fr-label" %>
                <%= f.number_field :score_min, value: search_params[:score_min], class: "fr-input", placeholder: "Score minimum", min: 0, step: 5 %>
              </div>
            </div>
          </div>

          <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <%= f.label :dette_sociale_min, "Montant de la dette sociale min.", class: "fr-label" %>
                <%= f.number_field :dette_sociale_min, value: search_params[:dette_sociale_min], class: "fr-input", placeholder: "Montant minimum", min: 0, step: 1000 %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <%= f.label :action_procol, "Action de procédure collective", class: "fr-label" %>
                <%= f.select :action_procol,
                             [
                               ["Tous", ""],
                               ["In Bonis", "in_bonis"],
                               ["Sauvegarde", "sauvegarde"],
                               ["Redressement", "redressement"],
                               ["Liquidation", "liquidation"]
                             ],
                             { selected: search_params[:action_procol] || "" },
                             { class: "fr-select" } %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <%= f.label :niveau_alerte, "Niveau d'alerte", class: "fr-label" %>
                <%= f.select :niveau_alerte,
                             [
                               ["Tous", ""],
                               ["Alerte élevée", "Alerte seuil F1"],
                               ["Alerte modérée", "Alerte seuil F2"]
                             ],
                             { selected: search_params[:niveau_alerte] || "" },
                             { class: "fr-select" } %>
              </div>
            </div>
          </div>

          <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">

            <div class="fr-col-12">
              <div class="fr-checkbox-group">
                <%= f.check_box :premieres_alertes, { checked: search_params[:premieres_alertes] == "1" }, "1", "0" %>
                <%= f.label :premieres_alertes, "Premières alertes", class: "fr-label" %>
              </div>
            </div>
            <div class="fr-col-12">
              <div class="fr-checkbox-group">
                <%= f.check_box :sans_entreprises_recentes, { checked: search_params[:sans_entreprises_recentes] == "1" }, "1", "0" %>
                <%= f.label :sans_entreprises_recentes, "Sans entreprises récentes", class: "fr-label" %>
              </div>
            </div>
            <div class="fr-col-12">
              <div class="fr-checkbox-group">
                <%= f.check_box :sans_delai_urssaf, { checked: search_params[:sans_delai_urssaf] == "1" }, "1", "0" %>
                <%= f.label :sans_delai_urssaf, "Sans délai de paiement URSSAF", class: "fr-label" %>
              </div>
            </div>
            <div class="fr-col-12">
              <div class="fr-checkbox-group">
                <%= f.check_box :liste_retraitee, { checked: search_params[:liste_retraitee] == "1" }, "1", "0" %>

                <%= f.label :liste_retraitee, class: "fr-label" do %>
                  Liste retraitée
                  <button class="fr-btn--tooltip fr-btn" type="button" id="button-liste-retraitee" aria-describedby="tooltip-liste-retraitee">
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-sr-only">Information sur la liste retraitée</span>
                  </button>
                  <span class="fr-tooltip fr-placement" id="tooltip-liste-retraitee" role="tooltip" aria-hidden="true">
                    Affiche uniquement la liste transmise au CDED en amont de la réunion du CODEFI
                  </span>
                <% end %>


              </div>
            </div>
          </div>

        </div>
        <div class="fr-grid-row fr-grid-row--right fr-mt-5w">
          <ul class="fr-btns-group fr-btns-group--center fr-btns-group--inline-lg fr-btns-group--icon-left">
            <li>
              <%= button_tag type: "button",
                             class: "fr-btn fr-btn--tertiary fr-btn--icon-left",
                             data: { action: "click->filters-toggle#toggle", filters_toggle_target: "toggleButton" } do %>
                <span class="<%= params.dig(:q, :filters_open) == "true" ? 'fr-icon-arrow-up-line' : 'fr-icon-arrow-down-line' %>" aria-hidden="true"></span>
                <%= params.dig(:q, :filters_open) == "true" ? 'Réduire les critères supplémentaires' : 'Afficher des critères supplémentaires' %>
              <% end %>
            </li>
            <li>
              <%= link_to "Réinitialiser les filtres", list_path(list), class: "fr-btn fr-icon-restart-line fr-btn--secondary", data: { turbo: false} %>
            </li>
            <li>
              <%= f.submit "Rechercher", class: "fr-btn" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
