<%= form_with(model: [ @establishment, @establishment_tracking, summary ], local: false) do |form| %>
  <%= form.hidden_field :is_codefi, value: is_codefi.to_s %>
  <div class="fr-input-group <%= 'fr-input-group--error' if summary.errors[:content].any? %>">
    <%= form.label :content, "Contenu de la synthèse" %>
    <%= form.text_area :content, class: "fr-input" %>
    <% if summary.errors[:content].any? %>
      <p id=<%= "summary_content_error_#{summary.is_codefi ? 'codefi' : 'segment'}" %> class="fr-error-text">
        <%= summary.errors[:content].first %>
      </p>
    <% end %>
  </div>
  <%= form.submit "Sauvegarder", class: "fr-btn" %>
  <% if summary.persisted? %>
    <%= link_to "Annuler", cancel_establishment_establishment_tracking_summary_path(@establishment, @establishment_tracking, summary), class: "fr-btn fr-btn--secondary", method: :post, data: { turbo_stream: true, confirm: "Êtes-vous sûr de vouloir annuler ?" } %>
  <% end %>
<% end %>
