<div class="fr-p-3w" style="border: #6A6AF4 1px solid">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h4>Synthèse du <%= summary.created_at.present? ? l(summary.created_at, format: :custom) : '-' %></h4>
    <% if policy(@establishment_tracking).edit? %>
      <% if summary.locked? %>
        <%= button_tag "En cours d'édition par #{User.find(summary.locked_by).email}", class: "fr-btn", disabled: true %>
      <% else %>
        <%= link_to "Modifier la synthèse", edit_establishment_establishment_tracking_summary_path(@establishment, @establishment_tracking, summary), data: { turbo_frame: dom_id(summary), turbo_stream: true }, class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-settings-5-line" %>
      <% end %>
    <% end %>
  </div>
  <span class="fr-hint-text">Dernière modification le <%= l(summary.updated_at, format: :custom) %></span>
  <p><%= markdown(summary.content) %></p>
</div>

