<%= turbo_frame_tag dom_id(comment) do %>

  <div class="comment-container fr-mb-3w" data-controller="auto-resize">
    <div class="comment-header">
      <div class="avatar">
        <span><%= comment.user.full_name[0..1].upcase %></span>
      </div>
      <div class="author-details">
        <strong><%= comment.user.full_name %></strong>
      </div>
    </div>

    <div class="comment-content">
      <p>
        <%= markdown(comment.content) %>
      </p>
    </div>

    <div class="comment-footer">
      <span>le <%= l(comment.updated_at, format: :custom) %> (il y a <%= time_ago_in_words(comment.updated_at) %>)</span>
      <% if comment.user == current_user %>
        <%= link_to "Modifier", edit_establishment_establishment_tracking_comment_path(@establishment, @establishment_tracking, comment), data: { turbo_frame: dom_id(comment), turbo_stream: true, action: "auto-resize#focus" }, class: "edit-link", title: "Modifier ce commentaire" %>
        <%= link_to "Supprimer", establishment_establishment_tracking_comment_path(@establishment, @establishment_tracking, comment), method: :delete, data: { turbo_confirm: "Êtes-vous sûr ?", turbo_method: :delete, turbo_stream: true }, class: "delete-link", title: "Supprimer ce commentaire" %>
      <% end %>
    </div>
  </div>
<% end %>