<hr class="fr-mt-2w fr-mb-2w" />
<%= form_with(model: [ @establishment, @establishment_tracking, comment ], local: false) do |form| %>
  <%= form.hidden_field :is_codefi, value: is_codefi.to_s %>
  <div class="fr-input-group <%= 'fr-input-group--error' if comment.errors[:content].any? %>">
      <%= form.label :content, "Nouveau commentaire" %>
      <%= form.text_area :content, class: "fr-input" %>
    <% if comment.errors[:content].any? %>
      <p id=<%= "comment_content_error_#{comment.is_codefi ? 'codefi' : 'segment'}" %> class="fr-error-text">
        <%= comment.errors[:content].first %>
      </p>
    <% end %>
  </div>

  <%= form.submit "Sauvegarder", class: "fr-btn" %>
<% end %>
