<hr class="fr-mt-2w fr-mb-2w" />
<%= form_with(model: [ @establishment, @establishment_tracking, comment ], local: false) do |form| %>
  <%= form.hidden_field :is_codefi, value: is_codefi.to_s %>

  <div class="fr-input-group">
    <%= form.label :content, "Nouveau commentaire" %>
    <%= form.text_area :content, class: "fr-input" %>
  </div>

  <%= form.submit "Sauvegarder", class: "fr-btn" %>
<% end %>