<%= turbo_stream.prepend "comments_#{@comment.network.name.parameterize}" do %>
  <%= render partial: "comments/comment", locals: { comment: @comment, network: @comment.network } %>
<% end %>

<%= turbo_stream.update "new_comment_#{@comment.network.name.parameterize}" do %>
  <%= render "comments/form", comment: Comment.new, network: @comment.network %>
<% end %>

<%= turbo_stream.replace "flash" do %>
  <div id="flash" class="fr-alert fr-alert--success" aria-live="polite">
    <%= notice %>
  </div>
<% end %>

<%= turbo_stream.remove "no_comments_message_#{@comment.network.name.parameterize}" %>