<div class="fr-grid-row fr-mt-4w">
  <div class="fr-col-12">
    <h3>Tous les accompagnements de l'entreprise <%= @establishment&.company&.siren %>
      <button class="fr-btn--tooltip fr-btn" type="button" id="button-company-trackings" aria-describedby="button-company-trackings">
        <span class="fr-icon-information-line" aria-hidden="true"></span>
        <span class="fr-sr-only">Information sur les accompagnements de l'entreprise</span>
      </button>
      </h3>
    <span class="fr-tooltip fr-placement" id="button-company-trackings" role="tooltip" aria-hidden="true">
      Tous les accompagnements menés sur l'ensemble des établissements de l'entreprise. La centralisation des informations sur l'établissement siège est à privilégiée dans le cadre de dossiers à portée nationale. Il sera alors possible d'ajouter en "contributeur" des agents d'autres départements.
    </span>
    <% if @company_trackings.any? %>

      <div class="fr-table" id="table-md-component">
        <div class="fr-table__wrapper">
          <div class="fr-table__container">
            <div class="fr-table__content">
              <table id="table-md">
                <thead>
                <tr>
                  <th scope="col">Raison sociale</th>
                  <th scope="col">SIRET</th>
                  <th scope="col">Statut</th>
                  <th scope="col">Criticité</th>
                  <th scope="col">Référents</th>
                  <th scope="col">Dernière modification</th>
                  <th scope="col">Dépt.</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% @company_trackings.each do |tracking| %>
                  <tr>
                    <td>
                      <span title="<%= tracking.establishment.raison_sociale %>">
                        <%= tracking.establishment.raison_sociale.truncate(20) %>
                      </span>
                    </td>
                    <td><%= tracking.establishment.siret %></td>
                    <td><%= content_tag :p, tracking.aasm.human_state, class: badge_class_for(tracking.aasm.human_state), style: state_style_for(tracking.aasm.human_state) %></td>
                    <td>
                      <% if tracking.criticality.present? %>
                        <%= content_tag :p, tracking.criticality.name, { class: badge_class_for(tracking.criticality.name), style: criticality_style_for(tracking.criticality.name) } %>
                      <% end %>
                    </td>
                    <td>
                      <% if tracking.referents.any? %>
                        <% first_referent = tracking.referents.first %>
                        <span title="<%= tracking.referents.map(&:full_name).join(', ') %>">
                          <%= truncate(first_referent.full_name, length: 20) %>
                        </span>
                        <% if tracking.referents.size > 1 %>
                          <span>+<%= tracking.referents.size - 1 %></span>
                        <% end %>
                      <% else %>
                        <span>Aucun référent</span>
                      <% end %>
                    </td>
                    <td><%= tracking.modified_at.present? ? l(tracking.modified_at, format: :default) : '-' %></td>
                    <td><%= tracking.establishment.department.code %></td>
                    <td>
                      <% if policy(tracking).show? %>
                        <%= link_to [tracking.establishment, tracking], class: 'fr-link fr-icon-arrow-right-line fr-link--icon-right' do %>
                          Consulter <span class="fr-sr-only"><%= tracking.establishment.raison_sociale %></span>
                        <% end %>
                      <% else %>
                        <span>-</span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p>Aucun accompagnement trouvé pour cette entreprise.</p>
    <% end %>
  </div>
</div> 