<div class="fr-card sf-establishment-search">
  <%= form_with url: search_path, method: :get, scope: :search, class: "fr-search-bar", html: { class: "fr-search-bar__form", data: { view_toggle_target: "form" } } do |f| %>
    <div class="fr-container--fluid fr-m-2w">
      <h2 class="fr-h4 fr-mt-1w">Rechercher un établissement ou une entreprise</h2>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
        <div class="fr-col-12 fr-col-xl-8">
          <p class="fr-text--sm">Les champs suivis d'un astérisque (*) sont obligatoires.</p>
          <div class="fr-input-group">
            <%= f.label :q, "Recherche par SIRET, SIREN ou raison sociale *", class: "fr-label" %>
            <div class="fr-input-wrap fr-icon-search-line">
              <%= f.text_field :q, value: search_params[:q], class: "fr-input", placeholder: "SIRET, SIREN ou raison sociale", required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-6 fr-col-xl-4">
          <div class="fr-input-group">
            <%= f.label :tranche_effectif_salarie, "Effectif de l'entreprise", class: "fr-label" %>
            <%= f.select :tranche_effectif_salarie,
                         [
                           ["Tous", ""],
                           ["1 ou 2 salariés", "01"],
                           ["3 à 5 salariés", "02"],
                           ["6 à 9 salariés", "03"],
                           ["10 à 19 salariés", "11"],
                           ["20 à 49 salariés", "12"],
                           ["50 à 99 salariés", "21"],
                           ["100 à 199 salariés", "22"],
                           ["200 à 249 salariés", "31"],
                           ["250 à 499 salariés", "32"],
                           ["500 à 999 salariés", "41"],
                           ["1 000 à 1 999 salariés", "42"],
                           ["2 000 à 4 999 salariés", "51"],
                           ["5 000 à 9 999 salariés", "52"],
                           ["10 000 salariés et plus", "53"]
                         ],
                         { selected: search_params[:tranche_effectif_salarie] || "" },
                         {
                           class: "fr-select",
                         } %>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-xl-4 sf-geo-search" data-controller="geo-search">
          <div class="fr-input-group">
            <%= f.label :cp_dep_label, "Zone géographique", class: "fr-label" %>
            <div class="fr-input-wrap fr-icon-map-pin-2-line">
              <%= f.text_field :cp_dep_label, 
                              value: search_params[:cp_dep_label], 
                              class: "fr-input", 
                              placeholder: "Ville, département, région...",
                              aria: {
                                 autocomplete: "both",
                                 controls: "sf-geo-search-list",
                                 expanded: "false", # List closed : default state.
                               },
                              role: "combobox",
                              data: { 
                                geo_search_target: "input",
                                action: "input->geo-search#search keydown->geo-search#handleKeydown"
                              },
                              autocomplete: "off"
              %>
            </div>
            <%= f.hidden_field :cp_dep_type, value: search_params[:cp_dep_type], data: { geo_search_target: "hiddenType" } %>
            <%= f.hidden_field :cp_dep, value: search_params[:cp_dep], data: { geo_search_target: "hiddenCode" } %>

            <div
              id="sf-geo-search-list"
              data-geo-search-target="results"
              class="sf-geo-search-results-container"
              role="listbox"
            >
          </div>

          </div>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-xl-4">
          <div class="fr-input-group">
            <%= f.label :section_activite_principale, "Secteur d'activité", class: "fr-label" %>
            <%= f.select :section_activite_principale,
                         [
                           ["A - Agriculture, sylviculture et pêche", "A"],
                           ["B - Industries extractives", "B"],
                           ["C - Industrie manufacturière", "C"],
                           ["D - Production et distribution d'électricité, de gaz, de vapeur et d'air conditionné", "D"],
                           ["E - Production et distribution d'eau ; assainissement, gestion des déchets et dépollution", "E"],
                           ["F - Construction", "F"],
                           ["G - Commerce ; réparation d'automobiles et de motocycles", "G"],
                           ["H - Transports et entreposage", "H"],
                           ["I - Hébergement et restauration", "I"],
                           ["J - Information et communication", "J"],
                           ["K - Activités financières et d'assurance", "K"],
                           ["L - Activités immobilières", "L"],
                           ["M - Activités spécialisées, scientifiques et techniques", "M"],
                           ["N - Activités de services administratifs et de soutien", "N"],
                           ["P - Enseignement", "P"],
                           ["Q - Santé humaine et action sociale", "Q"],
                           ["R - Arts, spectacles et activités récréatives", "R"],
                           ["S - Autres activités de services", "S"],
                           ["T - Activités des ménages en tant qu'employeurs ; activités indifférenciées des ménages en tant que producteurs de biens et services pour usage propre", "T"]
                         ],
                         { selected: Array(search_params[:section_activite_principale]).compact_blank },
                         { multiple: true, class: "tom-select", data: { controller: "tom-select" } } %>
          </div>
        </div>
      </div>

      <div class="fr-grid-row fr-grid-row--right fr-mt-5w">
        <ul class="fr-btns-group fr-btns-group--center fr-btns-group--inline-lg fr-btns-group--icon-left">
          <li>
            <%= link_to "Réinitialiser les filtres", home_path, class: "fr-btn fr-icon-restart-line fr-btn--secondary", data: { turbo: false} %>
          </li>
          <li>
            <%= f.submit "Rechercher", class: "fr-btn" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
