<%= turbo_frame_tag "data_effectif_ap_widget" do %>
  <div class="fr-col-12">
    <h2>Effectifs / Activité partielle</h2>
    <p>Les données ci-dessous sont mobilisées dans le calcul de la probabilité de défaillance de l'entreprise.</p>

    <div
      data-controller="segmented-control-widget"
    >
      <div>
        <div class="fr-mb-3w fr-mt-5w">
          <fieldset class="fr-segmented fr-segmented--no-legend">
            <legend class="fr-segmented__legend">Format d'affichage</legend>
            <div class="fr-segmented__elements">
              <div class="fr-segmented__element">
                <input
                  value="chart"
                  checked
                  type="radio"
                  id="segmented-effectif-ap-chart"
                  name="segmented-effectif-ap"
                  data-action="input->segmented-control-widget#switch"
                >
                <label class="fr-label" for="segmented-effectif-ap-chart">Graphique</label>
              </div>
              <div class="fr-segmented__element">
                <input
                  value="table"
                  type="radio"
                  id="segmented-effectif-ap-table"
                  name="segmented-effectif-ap"
                  data-action="input->segmented-control-widget#switch"
                >
                <label class="fr-label" for="segmented-effectif-ap-table">Tableau</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div
        data-segmented-control-widget-target="panel"
        data-panel="chart"
        class="sf-segmented fr-col-12 fr-col-lg-8"
      >
        <div
          data-controller="orthogonal-chart-widget"
          data-orthogonal-chart-widget-title-value="Effectifs / Activité partielle"
          data-orthogonal-chart-widget-labels-value='<%= @formatted_periodes %>'
          data-orthogonal-chart-widget-dataset-names-value='<%= @dataset_names %>'
          data-orthogonal-chart-widget-datasets-value='<%= [@effectifs, @consommation_ap, @autorisation_ap].to_json %>'
          data-orthogonal-chart-widget-colors-light-theme-value='<%= ['#000091', '#FCBFBF', '#6A6AF4'] %>'
          data-orthogonal-chart-widget-colors-dark-theme-value='<%= ['#C6C6FB', '#e1000f', '#8585F6'] %>'
          data-orthogonal-chart-widget-types-value='<%= ['line', 'bar', 'bar'] %>'
          data-orthogonal-chart-widget-border-dash-value='<%= [[], [], []].to_json %>'
          data-orthogonal-chart-widget-order-value='<%= [1, 3, 4].to_json %>'
          data-orthogonal-chart-widget-bar-mode-value=""
          data-orthogonal-chart-widget-unit-value=""
          class="chart-container"
        >
          <canvas data-orthogonal-chart-widget-target="chart" class="sf-chart"></canvas>
        </div>
      </div>


      <div
        id=sf-effectif-ap-table"
        class="sf-segmented sf-segmented--hidden"
        data-segmented-control-widget-target="panel"
        data-panel="table"
      >

        <div class="fr-table fr-table--no-caption fr-table--bordered fr-table--no-scroll fr-table--multiline" id="table-effectif-ap-component">
          <div class="fr-table__wrapper">
            <div class="fr-table__container">
              <div class="fr-table__content">
                <table id="table-effectif-ap">
                  <caption>Effectifs / Activité partielle</caption>
                  <thead>
                  <tr>
                    <th scope="col">Période</th>
                    <% @dataset_names.each do |name| %>
                      <th scope="col"><%= name %></th>
                    <% end %>
                  </tr>
                  </thead>
                  <tbody>

                  <% @formatted_periodes.each_with_index do |periode, index| %>
                    <tr id="table-effectif-ap-row-key-1" data-row-key="<%= index %>">
                      <td scope="row"><%= periode %></td>
                      <td>
                        <% if @effectifs[index].present? %>
                          <%= @effectifs[index] %>
                        <% else %>
                          /
                        <% end %>
                      </td>
                      <td>
                        <% if @consommation_ap[index].present? %>
                          <%= @consommation_ap[index].ceil(2) %>
                        <% else %>
                          /
                        <% end %>
                      </td>
                      <td>
                        <% if @autorisation_ap[index].present? %>
                          <%= @autorisation_ap[index].ceil(2) %>
                        <% else %>
                          /
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>
