  <%= turbo_frame_tag "detection_widget" do %>
    <h2>Détection Signaux faibles</h2>

    <% if local_assigns[:error] %>
      <div class="fr-col-12">
        <div class="fr-alert fr-alert--warning">
          <p><%= error %></p>
        </div>
      </div>
    <% else %>

      <%= turbo_frame_tag "feedback_detection_widget",
                          src: feedback_detection_widget_company_path(@company),
                          loading: :lazy do %>
        <h3>Détection Signaux faibles</h3>
        <p class="fr-mt-2w">Récupération des données de la détection</p>
      <% end %>

      <div class="fr-col-12 fr-col-lg-8">
        <div class="fr-callout fr-callout--blue-ecume">
          <p class="fr-callout__text">Sur la base des données en notre possession, il apparaît que l'entreprise présente des caractéristiques similaires à des sociétés ayant fait défaut dans les 18 mois suivants.</p>
          <p class="fr-callout__text">Le risque de défaillance de l'entreprise sous 18 mois apparaît comme <strong><%= @criticite %></strong>.</p>
          <p class="fr-callout__text">Les données actualisées jusqu'au <strong><%= @data_date %></strong> sont mobilisées pour cette prédiction.</p>
          <a
            href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-f.a.q.-de-signaux-faibles/les-listes-de-detection/analyser-une-entreprise-detectee"
            target="_blank"
            rel="noopener external"
            class="fr-link"
          >
            En savoir plus
          </a>
        </div>
      </div>
    <% end %>

    <%= turbo_frame_tag "waterfall_detection_widget",
                        src: waterfall_detection_widget_company_path(@company),
                        loading: :lazy do %>
      <h3>Éléments constitutifs de cette alerte</h3>
      <p class="fr-mt-2w">Récupération des données de la détection</p>
    <% end %>

    <%= turbo_frame_tag "history_detection_widget",
                        src: history_detection_widget_company_path(@company),
                        loading: :lazy do %>
      <h3>Historique des alertes</h3>
      <p class="fr-mt-2w">Récupération des données de la détection</p>
    <% end %>
  <% end %>
