<%= turbo_frame_tag "establishments_widget" do %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
      <h2>
        Liste des établissements
      </h2>

      <% if @enriched_establishments&.any? %>
        <div class="fr-col-12 fr-col-xl-8">
          <div class="fr-notice fr-notice--info">
            <div class="fr-container">
              <div class="fr-notice__body">
                <p>
                  <%# @TODO : Modifier les valeurs. %>
                  <span class="fr-notice__title">Cette structure possède 7 établissements dont 5 sont en activité.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @enriched_establishments&.any? %>
    <% 
      # Utiliser les établissements enrichis (Rails + INSEE)
      all_establishments = @enriched_establishments
    %>
    <div class="fr-table">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <thead>
                <tr>
                  <th scope="col">SIRET</th>
                  <th scope="col">Commune et code postal</th>
                  <th scope="col">Effectif</th>
                  <th scope="col">Dette URSSAF</th>
                  <th scope="col">Activité partielle</th>
                  <th scope="col">Accompagnements</th>
                </tr>
              </thead>
              <tbody>
                <% all_establishments.each do |enriched_establishment| %>
                  <% rails_data = enriched_establishment[:rails_data] %>
                  <% insee_data = enriched_establishment[:insee_data] %>

                  <tr>
                    <td>
                      <% if rails_data.present? %>
                        <strong><%= rails_data.siret %></strong>

                        <%# @TODO : vérifier si l'établissement est fermé. %>
                        <p class="fr-badge fr-badge--error fr-badge--sm">23/10/2025</p>

                        <%# @TODO : vérifier s'il y a une procédure en cours. %>
                        <p class="fr-badge fr-badge--sm fr-badge--warning">Nom de la procédure en cours</p>
                      <% end %>

                    </td>
                    
                    <td>
                      <% if insee_data&.dig("adresse", "libelle_commune") %>
                        <%= insee_data.dig("adresse", "libelle_commune") %>
                        <% if insee_data.dig("adresse", "code_postal") %>
                          (<%= insee_data.dig("adresse", "code_postal") %>)
                        <% end %>
                      <% else %>
                        <% if rails_data.present? %>
                          <%= rails_data.department&.name %>
                        <% end %>
                      <% end %>
                    </td>
                    
                    <td>
                      <%# @TODO : ajouter les données. %>
                      18
                    </td>
                    
                    <td>
                      <%# @TODO : ajouter les données. %>
                      <p class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon">Non</p>
                    </td>
                    
                    <td>
                      <%# @TODO : ajouter les données. %>
                      <p class="fr-badge fr-badge--sm fr-badge--error fr-badge--no-icon">Oui</p>
                    </td>

                    <td>
                      <%# @TODO : ajouter le nombre d'accompagnements. %>
                      9
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="fr-col-12 fr-col-xl-8">
      <div role="notice" class="fr-notice fr-notice--alert">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Erreur lors de la récupération des établissements</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
