<%= turbo_frame_tag "establishment_trackings_list_widget" do %>
  <% if @active_trackings.empty? %>
    <div class="fr-notice fr-notice--info">
      <div class="fr-container">
        <div class="fr-notice__body">
          <div>
            <p class="fr-notice__title">L'entreprise n'a pas d'accompagnement en cours.</p>
            <p class="fr-mt-2w">Rappel : les accompagnements sont créés au niveau des fiches établissements.</p>
            <ul>
              <% if @siege.present? %>
                <li>
                  <%= link_to "Consultez la fiche de l'établissement siège",
                              establishment_path(@siege),
                              data: { turbo: false } %>
                </li>
              <% end %>
              <li>
                <%= link_to "Consultez  Liste des établissements - #{@company.raison_sociale}",
                            company_path(@company),
                            data: { turbo: false } %>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  <% else %>
    <% if @active_trackings.present? %>
      <div class="fr-card">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h2>Accompagnement en cours de l'entreprise</h2>
            <%= render partial: 'establishment_trackings_list_table',
                       locals: { trackings: @active_trackings,
                                 title: 'Accompagnement en cours de l\'entreprise',
                                 id: 'in-progress-trackings' } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @completed_trackings.present? %>
    <div class="fr-card fr-mt-5w">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h2>Historique des accompagnements de l’entreprise</h2>
          <%= render partial: 'establishment_trackings_list_table', locals: { trackings: @completed_trackings, title: 'Historique des accompagnements de l\'entreprise', id: 'completed-trackings' } %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>




