<div class="fr-table fr-mb-0 fr-mt-0" id="table-md-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table class="fr-table fr-mt-0 fr-mb-0 establishment_trackings_table">
          <% if trackings.any? %>
            <thead>
            <tr>
              <th scope="col">Raison sociale</th>
              <th scope="col">SIRET</th>
              <th scope="col">Statut
                <button class="fr-btn--tooltip fr-btn" type="button" id="button-table-statuts-<%= id %>"  aria-describedby="tooltip-table-statuts-<%= id %>">
                  <span class="fr-icon-information-line" aria-hidden="true"></span>
                  <span class="fr-sr-only">Information sur les statuts</span>
                </button>
                <span class="fr-tooltip fr-placement" id="tooltip-table-statuts-<%= id %>" role="tooltip" aria-hidden="true">
                      Le "statut" indique l'état d'avancement de l'accompagnement :
                      <ul>
                        <li>Il est "en cours" pour un accompagnement sur lequel l'agent travaille, des échanges entre partenaires ou avec l'entreprise sont en cours, ou encore que des solutions sont recherchées ou ont été proposées.</li>
                        <li>Il est "terminé" lorsque l'agent a proposé une solution ou une orientation, sans besoin d'actions complémentaires de sa part, ou que les solutions proposées ont été épuisées (pas de solution possible pour aider la société, ou société fermée).</li>
                        <li>Le "sous surveillance" n'a pas vocation à être utilisé dans le cadre des accompagnements d'entreprises issues des listes et traitées en CODEFI. Son usage est réservé aux CRP lorsque l'entreprise est identifiée comme fragilisée et/ou stratégique sans actions régulières sur le dossier. Les accompagnements "sous surveillance" ne sont pas pris compte dans les statistiques.</li>
                      </ul>
                    </span>
              </th>
              <th scope="col">Criticité
                <button class="fr-btn--tooltip fr-btn" type="button" id="button-table-criticality-<%= id %>" aria-describedby="tooltip-table-criticality-<%= id %>">
                  <span class="fr-icon-information-line" aria-hidden="true"></span>
                  <span class="fr-sr-only">Information sur la criticité</span>
                </button>
                <span class="fr-tooltip fr-placement" id="tooltip-table-criticality-<%= id %>" role="tooltip" aria-hidden="true">
                      La "criticité" définit la priorisation de traitement par le CODEFI de l'accompagnement, elle mesure l'urgence à agir en fonction du risque encouru par l'entreprise, des enjeux en termes stratégique ou d'emploi et de la sensibilité du dossier :
                      <ul>
                        <li>La criticité "élevée" indique que l’entreprise nécessite une attention renforcée du CODEFI compte tenu de sa situation. Elle peut, entre autres, être confrontée à des risques élevés de défaillance à court terme et/ou sujette à des sensibilités politiques du fait de son intérêt stratégique.</li>
                        <li>La criticité "modérée" indique que l'entreprise rencontre une difficulté avérée qui n’entraîne pas un péril à court terme. Les difficultés sont néanmoins sérieuses et requièrent une attention particulière des membres du CODEFI.</li>
                        <li>Par défaut, les dossiers n'ont "pas de criticité". Cela indique une difficulté avérée de l'entreprise obligeant à son suivi régulier au sein du CODEFI, mais ne remettant pas en cause la pérennité de l’entreprise et des emplois.</li>
                      </ul>
                      L’agent "référent" est responsable de la définition de la criticité. En cas de suivi impliquant des agents de différentes administrations, la criticité est déterminée collégialement, en fonction de la priorité de l’entreprise pour le CODEFI.
                    </span>
              </th>
              <th scope="col">Référents
                <button class="fr-btn--tooltip fr-btn" type="button" id="button-table-referents-<%= id %>" aria-describedby="tooltip-table-referents-<%= id %>">
                  <span class="fr-icon-information-line" aria-hidden="true"></span>
                  <span class="fr-sr-only">Information sur les référents</span>
                </button>
                <span class="fr-tooltip fr-placement" id="tooltip-table-referents-<%= id %>" role="tooltip" aria-hidden="true">
                      Le "référent" est la principale personne en charge l'accompagnement de l'entreprise.
                      Il s'agit de l'interlocuteur le plus à même d'accompagner l'entreprise, conformément à la circulaire du 6 mars 2024.
                      Plusieurs agents de différentes administrations peuvent être "référents" selon les problématiques et l'évolution du dossier.
                      Les "référents" sont responsables de la mise à jour de la synthèse et sont les seuls à pouvoir modifier le statut. Le SP CODEFI dispose d'un droit de regard sur la synthèse dans le cadre de la rédaction du CR du CODEFI.
                    </span>
              </th>
              <th scope="col">
                Dernière modif.
                <button class="fr-btn--tooltip fr-btn" type="button" id="button-table-modified-at-<%= id %>" aria-describedby="tooltip-table-modified-at-<%= id %>">
                  <span class="fr-icon-information-line" aria-hidden="true"></span>
                  <span class="fr-sr-only">Information sur la date de modification</span>
                </button>
                <span class="fr-tooltip fr-placement" id="tooltip-table-modified-at-<%= id %>" role="tooltip" aria-hidden="true">
                  Date à laquelle au moins une des trois actions suivantes a été réalisée : ajout d'un commentaire, modification de la synthèse ou de la criticité.
                </span>
              </th>
              <th scope="col">Dépt.</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% trackings.each do |tracking| %>
              <tr>
                <td>
                    <span title="<%= tracking.establishment.raison_sociale %>" class="sf-truncate">
                      <%= tracking.establishment.raison_sociale %>
                    </span>
                </td>
                <td><%= tracking.establishment.siret %></td>
                <td><%= content_tag :p, tracking.aasm.human_state, class: badge_class_for(tracking.aasm.human_state), style: state_style_for(tracking.aasm.human_state) %></td>
                <td>
                  <% if tracking.criticality.present? %>
                    <%= content_tag :p, tracking.criticality.name, { class: badge_class_for(tracking.criticality.name), style: criticality_style_for(tracking.criticality.name) } %>
                  <% end %>
                </td>
                <td>
                  <% if tracking.referents.any? %>
                    <% first_referent = tracking.referents.first %>
                    <span title="<%= tracking.referents.map(&:full_name).join(', ') %>">
                      <%= truncate(first_referent.full_name, length: 20) %>
                    </span>
                    <% if tracking.referents.size > 1 %>
                      <span>+<%= tracking.referents.size - 1 %></span>
                    <% end %>
                  <% else %>
                    <span>Aucun référent</span>
                  <% end %>
                </td>
                <td><%= tracking.modified_at.present? ? l(tracking.modified_at, format: :default) : '-' %></td>
                <td><%= tracking.establishment.department.code %></td>
                <td>
                  <%= link_to [tracking.establishment, tracking], class: 'fr-link fr-icon-arrow-right-line fr-link--icon-right', data: { turbo: false } do %>
                    Consulter <span class="fr-sr-only"><%= tracking.establishment.raison_sociale %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>