  <%= turbo_frame_tag "feedback_detection_widget" do %>
    <h2>Détection Signaux faibles</h2>

    <% if local_assigns[:error] %>
      <div class="fr-col-12">
        <div class="fr-alert fr-alert--warning">
          <p><%= error %></p>
        </div>
      </div>
    <% else %>
      <h3>Donnez votre avis à l'équipe de Signaux Faibles</h3>

      <div class="fr-col-12 fr-col-lg-8 fr-mb-5w">
        <%# @TODO : set conditions from backend. %>

        <% if true %> <%# @TODO : condition : no feedback and no error. %>
          <div>
            <ul class="fr-btns-group fr-btns-group--inline-md">
              <li>
                <%= form_with model: [@entry],
                              url: feedback_detection_widget_company_path(@company),
                              method: :post,
                              data: { turbo_frame: "feedback-detection_widget" } do |f| %>
                  <button type="submit" class="fr-btn fr-btn--secondary sf-feedback-detection-button">Détection utile</button>
                <% end %>
              </li>

              <li>
                <button aria-controls="modal-feedback-detection" data-fr-opened="false" type="button" class="fr-btn sf-feedback-detection-button">Détection inutile</button>
              </li>
            </ul>
            <dialog id="modal-feedback-detection" class="fr-modal" aria-labelledby="modal-feedback-detection-title" data-fr-concealing-backdrop="true">
              <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                  <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                      <div class="fr-modal__header">
                        <button aria-controls="modal-feedback-detection" title="Fermer" type="button" id="button-5" class="fr-btn--close fr-btn">Fermer</button>
                      </div>
                      <div class="fr-modal__content">
                        <h2 id="modal-feedback-detection-title" class="fr-modal__title">
                          <span class="fr-icon-info-line fr-icon--lg" aria-hidden="true"></span> Pourquoi la détection est-elle inutile ?
                        </h2>
                        <%= form_with model: [@entry],
                                      url: feedback_detection_widget_company_path(@company),
                                      method: :post,
                                      data: { turbo_frame: "feedback-detection_widget" } do |f| %>
                          <fieldset class="fr-fieldset" id="raisons" aria-labelledby="raisons-legend raisons-messages">
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="raisons-legend"> Sélectionnez les motifs (obligatoire) </legend>
                            <div class="fr-fieldset__element">
                              <div class="fr-fieldset__element">
                                <div class="fr-checkbox-group">
                                  <%= check_box_tag 'raisons[]', 'donnees_inexpliquees', false, id: 'raisons-1', 'aria-describedby': 'raisons-messages' %>
                                  <%= label_tag 'raisons-1', "Les données à ma disposition n'expliquent pas la détection", class: 'fr-label' %>
                                </div>
                              </div>
                              <div class="fr-fieldset__element">
                                <div class="fr-checkbox-group">
                                  <%= check_box_tag 'raisons[]', 'pas_difficultes', false, id: 'raisons-2', 'aria-describedby': 'raisons-messages' %>
                                  <%= label_tag 'raisons-2', "L'entreprise ne présente pas de difficultés", class: 'fr-label' %>
                                </div>
                              </div>
                              <div class="fr-fieldset__element">
                                <div class="fr-checkbox-group">
                                  <%= check_box_tag 'raisons[]', 'detection_tardive', false, id: 'raisons-3', 'aria-describedby': 'raisons-messages' %>
                                  <%= label_tag 'raisons-3', "L'entreprise est détectée trop tardivement", class: 'fr-label' %>
                                </div>
                              </div>
                              <div class="fr-fieldset__element">
                                <div class="fr-checkbox-group">
                                  <%= check_box_tag 'raisons[]', 'hors_perimetre', false, id: 'raisons-4', 'aria-describedby': 'raisons-messages' %>
                                  <%= label_tag 'raisons-4', "L'entreprise n'entre pas dans mon périmètre", class: 'fr-label' %>
                                </div>
                              </div>
                              <div class="fr-fieldset__element">
                                <div class="fr-checkbox-group">
                                  <%= check_box_tag 'raisons[]', 'pas_en_difficulte', false, id: 'raisons-5', 'aria-describedby': 'raisons-messages' %>
                                  <%= label_tag 'raisons-5', "L'entreprise ne considère pas être en difficulté", class: 'fr-label' %>
                                </div>
                              </div>
                              <div class="fr-fieldset__element">
                                <div class="fr-checkbox-group">
                                  <%= check_box_tag 'raisons[]', 'autre', false, id: 'raisons-6', 'aria-describedby': 'raisons-messages' %>
                                  <%= label_tag 'raisons-6', "Autre", class: 'fr-label' %>
                                </div>
                              </div>
                            </div>
                            <div class="fr-messages-group" id="raisons-messages" aria-live="polite">
                              <%# @TODO : display error dynamically. %>
                              <%# <p class="fr-message fr-message--error">Vous devez cocher au moins une raison.</p> %>
                            </div>
                          </fieldset>

                          <div class="fr-input-group">
                            <%= label_tag 'precisions', 'Précisez les raisons de votre choix', class: 'fr-label' %>
                            <%= text_area_tag 'precisions', nil, class: 'fr-input', id: 'precisions', 'aria-describedby': 'precisions-messages' %>
                            <div class="fr-messages-group" id="precisions-messages" aria-live="polite">
                            </div>
                          </div>

                          <button type="submit" class="fr-btn">Valider votre avis</button>
                          <button aria-controls="modal-feedback-detection" title="Annuler" type="button" class="fr-btn fr-btn--secondary">Annuler</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </dialog>
          </div>
          <% elsif false %> <%# @TODO : condition : feedback "useless". %>
            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-3w">
              <p>Vous avez déjà indiqué que la détection était inutile.</p>
            </div>
          <% elsif false %> <%# @TODO : condition : feedback "useful". %>
            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-3w">
              <p>Vous avez déjà indiqué que la détection était utile.</p>
            </div>
          <% else %> <%# @TODO : condition : backend error. %>
          <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-3w">
            <p>Une erreur est survenue. Veuillez réessayer plus tard.</p>
          </div>
          <% end %>
      </div>


      <div class="fr-col-12 fr-col-lg-8">
        <div class="fr-callout fr-callout--blue-ecume">
          <p class="fr-callout__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec libero ultricies aliquet</p>
          <p class="fr-callout__text">Sur la base des données en notre possession, il apparaît que l'entreprise présente des caractéristiques similaires à des sociétés ayant fait défaut dans les 18 mois suivants.</p>
          <p class="fr-callout__text">Le risque de défaillance de l'entreprise sous 18 mois apparaît comme <strong><%= @criticite %></strong>.</p>
          <p class="fr-callout__text">Les données actualisées jusqu'au <strong><%= @data_date %></strong> sont mobilisées pour cette prédiction.</p>
          <a
            href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-f.a.q.-de-signaux-faibles/les-listes-de-detection/analyser-une-entreprise-detectee"
            target="_blank"
            rel="noopener external"
            class="fr-link"
          >
            En savoir plus
          </a>
        </div>
      </div>
    <% end %>

    <% unless local_assigns[:error] %>
      <div
        data-controller="segmented-control-widget"
      >
        <div>
          <div class="fr-mb-3w fr-mt-5w">
            <fieldset class="fr-segmented fr-segmented--no-legend">
              <legend class="fr-segmented__legend">Format d'affichage</legend>
              <div class="fr-segmented__elements">
                <div class="fr-segmented__element">
                  <input
                    value="chart"
                    checked
                    type="radio"
                    id="segmented-detection-chart"
                    name="segmented-detection"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-detection-chart">Graphique</label>
                </div>
                <div class="fr-segmented__element">
                  <input
                    value="table"
                    type="radio"
                    id="segmented-detection-table"
                    name="segmented-detection"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-detection-table">Tableau</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div
          data-segmented-control-widget-target="panel"
          data-panel="chart"
          class="sf-segmented fr-col-12 fr-col-lg-8"
        >
          <h3 class="fr-mt-3w">Éléments constitutifs de cette alerte</h3>
          <div
            data-controller="waterfall-chart-widget"
            class="chart-container"
            data-waterfall-chart-widget-colors-light-theme-value='<%= ['#e1000f', '#1f8d49', '#6a6af4', '#000091'] %>'
            data-waterfall-chart-widget-colors-dark-theme-value='<%= ['#e1000f', '#1f8d49', '#6a6af4', '#8585f6'] %>'
            data-waterfall-chart-widget-title-value="Éléments constitutifs de cette alerte"
            data-waterfall-chart-widget-unit-value="%"
            data-waterfall-chart-widget-values-value='<%= @values.to_json %>'
            data-waterfall-chart-widget-labels-value='<%= @labels.to_json %>'
            data-waterfall-chart-widget-seuils-value='<%= @seuils.to_json %>'
          >
            <canvas data-waterfall-chart-widget-target="chart" class="sf-chart"></canvas>
          </div>

          <p class="fr-mb-3w"><strong>Source :</strong> Signaux faibles</p>
        </div>

        <div
          id="sf-detection-table"
          class="sf-segmented sf-segmented--hidden"
          data-segmented-control-widget-target="panel"
          data-panel="table"
        >

          <div class="fr-table fr-table--no-caption fr-table--bordered fr-col-12 fr-col-lg-6" id="table-detection-component">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table id="table-detection">
                    <caption>Éléments constitutifs de cette alerte</caption>
                    <thead>
                    <tr>
                      <th scope="col">Élément</th>
                      <th scope="col">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% @labels.each_with_index do |label, index| %>
                      <tr id="table-detection-row-key-<%= index %>" data-row-key="<%= index %>">
                        <% if index == @labels.length - 1 %>
                          <td scope="row">
                            <strong><%= label %></strong>
                          </td>
                          <td>
                            <strong><%= (@values[index][1] - @values[index][0]).round(1) %> %</strong>
                          </td>
                        <% else %>
                          <td scope="row"><%= label %></td>
                          <td>
                            <%= (@values[index][1] - @values[index][0]).round(1) %> %
                          </td>
                        <% end %>

                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <p class="fr-mb-4w"><strong>Source :</strong> Signaux faibles</p>
        </div>
      </div>
    <% end %>


    <!-- Modal -->
    <% if @show_alert_history_button %>
      <h2>Détection Signaux faibles</h2>
      <button aria-controls="modal-0" data-fr-opened="false" type="button" class="fr-btn fr-btn--secondary">Historique des alertes</button>
      <dialog id="modal-0" class="fr-modal" aria-labelledby="modal-0-title" data-fr-concealing-backdrop="true">
        <div class="fr-container fr-container--fluid fr-container-md">
          <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
              <div class="fr-modal__body">
                <div class="fr-modal__header">
                  <button aria-controls="modal-0" title="Fermer" type="button" id="button-11" class="fr-btn--close fr-btn">Fermer</button>
                </div>
                <div class="fr-modal__content">
                  <h2 id="modal-0-title" class="fr-modal__title">
                    Historique des alertes
                  </h2>

                  <ol class="sf-detection-list">
                    <% if @alert_history.present? %>
                      <% @alert_history.each_with_index do |item, index| %>
                        <li class="sf-detection-list--item <%= 'fr-mt-1w' unless index == 0 %>">
                          <% case item[:alert_level]
                             when 'high' %>
                            <span class="fr-icon-warning-fill sf-high-alert" title="Alerte élevée"></span>
                          <% when 'moderate' %>
                            <span class="fr-icon-warning-fill sf-moderated-alert" title="Alerte modérée"></span>
                          <% else %>
                            <span class="fr-icon-warning-fill sf-no-alert" title="Pas d'alerte"></span>
                          <% end %>
                          <%= item[:list_name] %>
                        </li>
                      <% end %>
                    <% else %>
                      <li class="sf-detection-list--item">
                        <span>Aucun historique disponible</span>
                      </li>
                    <% end %>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dialog>
    <% end %>
  <% end %>
