<div class="fr-container">
  <%= search_form_for @q, url: companies_path, method: :get do |f| %>
    <%= hidden_field_tag 'q[campaigns_id_eq]', params.dig(:q, :campaigns_id_eq) %>
    <%= hidden_field_tag 'q[lists_id_eq]', params.dig(:q, :lists_id_eq) %>

    <div class="fr-input-group">
      <%= f.collection_select :campaigns_id_eq, @campaigns, :id, :name, { include_blank: 'Choisir une campagne' }, { class: 'fr-select' } %>
    </div>

    <div class="fr-input-group">
      <%= f.collection_select :lists_id_eq, @lists, :id, :label, { include_blank: 'Choisir une liste' }, { class: 'fr-select' } %>
    </div>

    <div class="fr-input-group">
      <%= f.search_field :siren_cont, class: 'fr-input', placeholder: 'SIREN' %>
    </div>

    <div class="fr-input-group">
      <%= f.search_field :siret_cont, class: 'fr-input', placeholder: 'SIRET' %>
    </div>

    <div class="fr-input-group">
      <%= f.search_field :raison_sociale_cont, class: 'fr-input', placeholder: 'Raison sociale' %>
    </div>

    <div class="fr-input-group">
      <%= f.search_field :effectif_eq, class: 'fr-input', placeholder: 'Effectif' %>
    </div>

    <div class="fr-input-group">
      <%= f.collection_select :department_id_eq, @departments, :id, :name, { include_blank: 'Département' }, { class: 'fr-select' } %>
    </div>

    <div class="fr-input-group">
      <%= f.collection_select :activity_sector_id_eq, @activity_sectors, :id, :libelle, { include_blank: 'Secteur' }, { class: 'fr-select' } %>
    </div>

    <div class="actions">
      <%= f.submit "Chercher", class: 'fr-btn' %>
    </div>
  <% end %>
</div>