<%= turbo_frame_tag "financial_widget" do %>
  <div class="fr-col-12">
    <h3 class="fr-h2">Ratios financiers INPI/BCE</h3>

    <% if @financial_fields.present? && @datasets.present? %>
      <p>Les données ci-dessous n'ont pas été mobilisées dans le calcul de la probabilité de défaillance de l'entreprise. Les données financières mobilisées dans la détection sont issues des liasses fiscales et soumises au secret fiscal.</p>

      <div
        data-controller="segmented-control-widget"
      >
        <div>
          <div class="fr-mb-3w fr-mt-5w">
            <fieldset class="fr-segmented fr-segmented--no-legend">
              <legend class="fr-segmented__legend">Format d'affichage</legend>
              <div class="fr-segmented__elements">
                <div class="fr-segmented__element">
                  <input
                    value="chart"
                    checked
                    type="radio"
                    id="segmented-financial-chart"
                    name="segmented-financial"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-financial-chart">Graphique</label>
                </div>
                <div class="fr-segmented__element">
                  <input
                    value="table"
                    type="radio"
                    id="segmented-financial-table"
                    name="segmented-financial"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-financial-table">Tableau</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>


        <div
          data-segmented-control-widget-target="panel"
          data-panel="chart"
          class="sf-segmented fr-col-12"
        >
          <div
            data-controller="financial-chart-widget"
            data-financial-chart-widget-title-value="Ratios financiers INPI/BCE"
            data-financial-chart-widget-labels-value='<%= @formatted_dates.to_json %>'
            data-financial-chart-widget-dataset-names-value='<%= @dataset_names_graph.to_json %>'
            data-financial-chart-widget-datasets-value='<%= @datasets_graph.to_json %>'
            data-financial-chart-widget-colors-light-theme-value='<%= @light_colors.to_json %>'
            data-financial-chart-widget-colors-dark-theme-value='<%= @dark_colors.to_json %>'
            data-financial-chart-widget-unit-value=""
            class="fr-grid-row fr-grid-row--gutters"
            style="position: relative; max-width: 100%; aspect-ratio: 4.5/2;"
          >
            <div class="fr-col-12 fr-col-md-4">
              <fieldset class="fr-fieldset">
                <legend class="fr-fieldset__legend">Sélectionner les données à afficher</legend>
                <div class="fr-fieldset__content">
                  <% @financial_fields_graph.each_with_index do |field, index| %>
                    <div class="fr-checkbox-group fr-checkbox-group--sm sf-checkbox-group--tooltip">
                      <input
                        type="checkbox"
                        id="checkbox-<%= field %>"
                        name="financial-data"
                        checked
                        data-field-key="<%= field %>"
                        data-action="change->financial-chart-widget#toggleDataset"
                        data-financial-chart-widget-target="checkbox"
                        aria-labelledby="sf-<%= field %>-infobulle"
                      >
                      <label class="fr-label" for="checkbox-<%= field %>">
                        <span class="sf-ratio-financiers-color sf-ratio-financiers-color--<%= field %>"></span>
                        <%= @dataset_names[field] %>
                      </label>

                      <div id="sf-<%= field %>-infobulle">
                        <button aria-describedby="tooltip-<%= field %>" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
                        <div class="fr-tooltip fr-placement" id="tooltip-<%= field %>" role="tooltip">

                          <% case field %>
                          <% when "chiffre_d_affaires" %>
                            <p class="fr-text--sm">Le Chiffre d'affaires (CA) indique le niveau d'activité d'une entreprise sur une période donnée.</p>
                            <p class="fr-text--sm">Pour en savoir plus, consultez la <a href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-f.a.q.-de-signaux-faibles/consulter-des-informations-dentreprises/analyse-financiere/les-principes-de-la-comptabilite#le-chiffre-daffaires" target="_blank" title="définition complète - Nouvelle fenêtre" class="fr-link fr-text--sm">définition complète</a>.</p>
                          <% when "ebe" %>
                            <p class="fr-text--sm">L'excédent brut d'exploitation exprime la capacité d'une entreprise à générer des ressources de trésorerie grâce à son exploitation.</p>
                            <p class="fr-text--sm">Pour en savoir plus, consultez la <a href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-faq/consultation/ratios-financiers/les-principes-de-la-comptabilite#lexcedent-brut-dexploitation-ebe" target="_blank" title="définition complète - Nouvelle fenêtre" class="fr-link fr-text--sm">définition complète</a>.</p>
                          <% when "ebit" %>
                            <p class="fr-text--sm">Le résultat d'exploitation mesure la capacité de l'entreprise à générer des ressources avec son activité principale, sans prendre en compte les éléments financiers ni exceptionnels.</p>
                            <p class="fr-text--sm">Pour en savoir plus, consultez la <a href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-faq/consultation/ratios-financiers/les-principes-de-la-comptabilite#le-resultat-dexploitation-rex" target="_blank" title="définition complète - Nouvelle fenêtre" class="fr-link fr-text--sm">définition complète</a>.</p>
                          <% when "marge_brute" %>
                            <p class="fr-text--sm">La marge brute permet de mesurer la capacité de l'entreprise à dégager des profits.</p>
                            <p class="fr-text--sm">Pour en savoir plus, consultez la <a href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-faq/consultation/ratios-financiers/les-principes-de-la-comptabilite#la-marge-commerciale-ou-marge-brute" target="_blank" title="définition complète - Nouvelle fenêtre" class="fr-link fr-text--sm">définition complète</a>.</p>
                          <% else %> <%# resultat_net %>
                            <p class="fr-text--sm">Le résultat net caractérise l'enrichissement ou l'appauvrissement de l'entreprise au cours d'une période considérée.</p>
                            <p class="fr-text--sm">Pour en savoir plus, consultez la <a href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-faq/consultation/ratios-financiers/les-principes-de-la-comptabilite#le-resultat-net" target="_blank" title="définition complète - Nouvelle fenêtre" class="fr-link fr-text--sm">définition complète</a>.</p>
                          <% end %>

                        </div>
                      </div>

                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>

            <div class="fr-col-12 fr-col-md-8">
              <div class="chart-container">
                <canvas
                  data-financial-chart-widget-target="chart"
                  class="sf-chart"
                  role="img"
                  aria-label="Graphique &quot;Ratios financiers INPI/BCE&quot; - voir les données dans la partie tableau"
                ></canvas>
              </div>
            </div>
          </div>

          <p class="fr-mt-3w fr-mb-0 fr-text--sm"><strong>Source :</strong> INPI / BCE</p>
        </div>

        <div
          id="sf-financial-table"
          class="sf-segmented sf-segmented--hidden"
          data-segmented-control-widget-target="panel"
          data-panel="table"
        >
          <div class="fr-table fr-table--no-caption fr-table--bordered fr-table--multiline" id="table-financial-component">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table id="table-financial">
                    <caption>Ratios financiers INPI/BCE</caption>
                    <thead>
                      <th scope="row">Date de clôture</th>
                      <% @formatted_dates.each_with_index do |date, index| %>
                        <th scope="col"><%= date %></th>
                      <% end %>
                    </thead>
                    <tbody>
                    <% @financial_fields.each do |field| %>
                      <tr>
                        <th scope="row"><%= @dataset_names[field] %></th>
                        <% @formatted_dates.each_with_index do |date, index| %>
                          <td class="sf-cell-no-wrap">
                            <% value = @datasets[field][index] %>
                            <% if value.present? %>
                              <% if value.is_a?(Numeric) %>
                                <%= number_with_precision(value, precision: 2, delimiter: ' ', separator: ',', strip_insignificant_zeros: true) %>
                              <% else %>
                                <%= value %>
                              <% end %>
                            <% else %>
                              /
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <p class="fr-mt-3w fr-mb-0 fr-text--sm"><strong>Source :</strong> INPI / BCE</p>

        </div>
      </div>
    <% else %>
      <%= render 'shared/data_state', error: @error %>
    <% end %>

  </div>
<% end %>
