<%= turbo_frame_tag "financial_widget" do %>
  <div class="fr-col-12">
    <h2>Ratios financiers INPI/BCE</h2>

    <% if @financial_fields.present? && @datasets.present? %>
      <p>Les données ci-dessous proviennent des bilans déposés à l'INPI et au BCE.</p>

      <div
        data-controller="segmented-control-widget"
      >
        <div>
          <div class="fr-mb-3w fr-mt-5w">
            <fieldset class="fr-segmented fr-segmented--no-legend">
              <legend class="fr-segmented__legend">Format d'affichage</legend>
              <div class="fr-segmented__elements">
                <div class="fr-segmented__element">
                  <input
                    value="chart"
                    checked
                    type="radio"
                    id="segmented-financial-chart"
                    name="segmented-financial"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-financial-chart">Graphique</label>
                </div>
                <div class="fr-segmented__element">
                  <input
                    value="table"
                    type="radio"
                    id="segmented-financial-table"
                    name="segmented-financial"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-financial-table">Tableau</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div
          data-segmented-control-widget-target="panel"
          data-panel="chart"
          class="sf-segmented fr-col-12 fr-col-lg-8"
        >
          <div class="fr-mb-3w">
            <fieldset class="fr-fieldset">
              <legend class="fr-fieldset__legend">Sélectionner les données à afficher</legend>
              <div class="fr-fieldset__content">
                <div class="fr-checkbox-group fr-checkbox-group--sm">
                  <% @financial_fields.each_with_index do |field, index| %>
                    <input
                      type="checkbox"
                      id="checkbox-<%= field %>"
                      name="financial-data"
                      checked
                      data-field-key="<%= field %>"
                      data-action="change->financial-chart-widget#toggleDataset"
                      data-financial-chart-widget-target="checkbox"
                    >
                    <label class="fr-label" for="checkbox-<%= field %>">
                      <%= @dataset_names[field] %>
                    </label>
                  <% end %>
                </div>
              </div>
            </fieldset>
          </div>

          <div
            data-controller="financial-chart-widget"
            data-financial-chart-widget-title-value="Ratios financiers INPI/BCE"
            data-financial-chart-widget-labels-value='<%= @formatted_dates.to_json %>'
            data-financial-chart-widget-dataset-names-value='<%= @dataset_names.to_json %>'
            data-financial-chart-widget-datasets-value='<%= @datasets.to_json %>'
            data-financial-chart-widget-colors-light-theme-value='<%= ['#000091', '#FCBFBF', '#6A6AF4', '#E1000F', '#8585F6', '#FF9575', '#C6C6FB', '#E8E8E8'].to_json %>'
            data-financial-chart-widget-colors-dark-theme-value='<%= ['#C6C6FB', '#e1000f', '#8585F6', '#FF9575', '#000091', '#FCBFBF', '#6A6AF4', '#E8E8E8'].to_json %>'
            data-financial-chart-widget-unit-value=""
            class="chart-container"
          >
            <canvas data-financial-chart-widget-target="chart" class="sf-chart"></canvas>
          </div>

          <p class="fr-mt-3w fr-mb-0"><strong>Source :</strong> INPI / BCE</p>
        </div>

        <div
          id="sf-financial-table"
          class="sf-segmented sf-segmented--hidden"
          data-segmented-control-widget-target="panel"
          data-panel="table"
        >

          <div class="fr-table fr-table--no-caption fr-table--bordered fr-table--no-scroll fr-table--multiline" id="table-financial-component">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table id="table-financial">
                    <caption>Ratios financiers INPI/BCE</caption>
                    <thead>
                    <tr>
                      <th scope="col">Date de clôture</th>
                      <% @financial_fields.each do |field| %>
                        <th scope="col"><%= @dataset_names[field] %></th>
                      <% end %>
                    </tr>
                    </thead>
                    <tbody>

                    <% @formatted_dates.each_with_index do |date, index| %>
                      <tr id="table-financial-row-<%= index %>" data-row-key="<%= index %>">
                        <td scope="row"><%= date %></td>
                        <% @financial_fields.each do |field| %>
                          <td>
                            <% value = @datasets[field][index] %>
                            <% if value.present? %>
                              <% if value.is_a?(Numeric) %>
                                <%= number_with_precision(value, precision: 2, delimiter: ' ', separator: ',') %>
                              <% else %>
                                <%= value %>
                              <% end %>
                            <% else %>
                              /
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <p class="fr-mt-3w fr-mb-0"><strong>Source :</strong> INPI / BCE</p>

        </div>
      </div>
    <% else %>
      <%= render 'shared/data_state', error: @error %>
    <% end %>

  </div>
<% end %>
