<div id="tabpanel-informations-panel"
     class="fr-tabs__panel fr-tabs__panel--selected"
     role="tabpanel"
     aria-labelledby="tabpanel-informations"
     tabindex="0">
  <h2 class="fr-sr-only">Informations générales</h2>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
    <!-- INSEE Widget with Turbo Frame -->
    <div class="fr-col-12 fr-col-lg-8">
      <%= turbo_frame_tag "insee_widget", 
          src: insee_widget_company_path(@company), 
          loading: :lazy do %>
        <div class="sf-entreprise-subtitle fr-mb-3w">
          <h3 class="fr-h2 fr-mb-0">
            Informations générales
          </h3>

          <div>
            <button aria-describedby="tooltip-infos-generales-panel" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
            <span class="fr-tooltip fr-placement" id="tooltip-infos-generales-panel" role="tooltip">
          Les données d’identité de l’entreprise sont principalement issues de la base Sirene des entreprises et de leurs établissements produite par l’Insee.
        </span>
          </div>

          <% if @date_fermeture_formatted.present? %>
            <p class="fr-badge fr-badge--pink-macaron fr-mb-0">
              Fermé le <%= @date_fermeture_formatted %>
            </p>
          <% end %>
        </div>
        <p class="fr-mt-2w">Récupération des données INSEE...</p>
      <% end %>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-card">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3>Accéder à des informations complémentaires</h3>
            <ul>
              <li>
                <%=
                  link_to "Voir sur Annuaire des Entreprises",
                          "https://annuaire-entreprises.data.gouv.fr/entreprise/#{@company.siren}",
                          target: "_blank",
                          class: "fr-link",
                          rel: "noopener"
                %>
              </li>
              <li>
                <%=
                  link_to "Voir sur Fiche Commune Entreprise",
                          "https://fce.fabrique.social.gouv.fr/enterprise/#{@company.siren}",
                          target: "_blank",
                          class: "fr-link",
                          rel: "noopener"
                %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Detection Widget with Turbo Frame -->
  <% last_list = List.order(code: :desc).first %>
  <% company_in_last_list = last_list && CompanyScoreEntry.exists?(siren: @company.siren, list_name: last_list.label) %>
  <% if company_in_last_list %>
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
      <div class="fr-col-12">
        <%= turbo_frame_tag "detection_widget",
                            src: detection_widget_company_path(@company),
                            loading: :lazy do %>
          <h2>Détection Signaux faibles</h2>
          <p class="fr-mt-2w">Récupération des données de la détection</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- History Detection Widget with Turbo Frame -->
  <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
    <div class="fr-col-12">
      <%= turbo_frame_tag "history_detection_widget",
                          src: history_detection_widget_company_path(@company),
                          loading: :lazy do %>
        <h3>Historique des alertes</h3>
        <p class="fr-mt-2w">Récupération des données de l'historique</p>
      <% end %>
    </div>
  </div>


  <!-- Establishments Widget with Turbo Frame -->
  <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
    <div class="fr-col-12">
      <%= turbo_frame_tag "establishments_widget", 
          src: establishments_widget_company_path(@company), 
          loading: :lazy do %>

        <div class="sf-entreprise-subtitle fr-mb-3w">
          <h3 class="fr-h2 fr-mb-0">
            Liste des établissements
          </h3>

          <div>
            <button aria-describedby="tooltip-liste-etab-panel" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
            <div class="fr-tooltip fr-placement" id="tooltip-liste-etab-panel" role="tooltip">
              <p class="fr-text--xs fr-mb-0">Liste indiquant le siège social et les établissements secondaires. Ces données sont issues de la base Sirene des entreprises et de leurs établissements produite par l’Insee.</p>
            </div>
          </div>
        </div>

        <p class="fr-mt-2w">Récupération des établissements</p>
      <% end %>
    </div>
  </div>
</div>
