<div class="fr-container--fluid">
  <nav role="navigation" class="fr-ml-4w fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to 'Accompagnements', establishment_trackings_path, class: 'fr-breadcrumb__link' %>
        </li>
      </ol>
    </div>
  </nav>
  <div class="fr-pl-4w fr-pb-4w fr-pt-4w custom-background" style="display: flex; align-items: center; gap: 8px;">
    <h1 style="margin: 0;"><%= @company.raison_sociale %></h1>
  </div>
  <div class="fr-tabs">
    <ul class="fr-tabs__list custom-background fr-pb-0" role="tablist" aria-label="Informations sur l'entreprise">
      <!-- Company Information Tab -->
      <li role="presentation">
        <button id="tabpanel-informations"
                type="button"
                class="fr-tabs__tab"
                tabindex="0" role="tab"
                aria-selected="true"
                aria-controls="tabpanel-informations-panel">
          Informations générales
        </button>
      </li>

      <li role="presentation">
        <button id="tabpanel-data"
                type="button"
                class="fr-tabs__tab"
                tabindex="-1" role="tab"
                aria-selected="false"
                aria-controls="tabpanel-data-panel">
          Données de l'entreprise
        </button>
      </li>

      <li role="presentation">
        <button id="tabpanel-helps"
                type="button"
                class="fr-tabs__tab"
                tabindex="-1" role="tab"
                aria-selected="false"
                aria-controls="tabpanel-helps-panel">
          Accompagnements
        </button>
      </li>

      <!-- Financial Data Tab -->
      <!--<li role="presentation">
        <button id="tabpanel-financier"
                type="button"
                class="fr-tabs__tab"
                tabindex="-1" role="tab"
                aria-selected="false"
                aria-controls="tabpanel-financier-panel">
          Données financières
        </button>
      </li>-->
    </ul>

    <%= render 'info_panel_with_widgets' %>
    <%= render 'data_panel_with_widgets' %>
    <%= render 'establishment_trackings_list_panel' %>
    <%# render 'financial_panel_with_widgets' %>


  </div>
</div>