<% content_for :title, "Fiche entreprise #{@company.raison_sociale}" %>

<div class="fr-container">
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to 'Accueil', '/', class: 'fr-breadcrumb__link' %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Fiche entreprise <%= @company.raison_sociale %></a>
        </li>
      </ol>
    </div>
  </nav>
</div>
<div>
  <div class="fr-pb-4w fr-pt-4w sf-alt-background sf-title-above-tabs">
    <div class="fr-container sf-fiche-title">
      <h1>Fiche entreprise <%= @company.raison_sociale %></h1>
      <%# Niveau d'alerte %>
      <% if @alert_level == "elevee" %>
        <p class="fr-badge fr-badge--error fr-badge--no-icon fr-ml-3w">Alerte élevée</p>
      <% end %>

      <% if @alert_level == "moderee" %>
        <p class="fr-badge fr-badge--yellow-tournesol fr-ml-3w">Alerte modérée</p>
      <% end %>

      <%# Statut procédure collective (si différent de in bonis) %>
      <% if @procol_status && @procol_status != "In Bonis" %>
        <p class="fr-badge fr-badge fr-badge--purple-glycine fr-ml-1w"><%= @procol_status %></p>
      <% end %>

      <%# Première alerte %>
      <% if @is_first_alert %>
        <p class="fr-badge fr-badge--info fr-badge--no-icon fr-ml-1w">1ère alerte</p>
      <% end %>
    </div>
  </div>
  </div>
  <div class="fr-container">
    <div class="fr-tabs">
      <ul class="fr-tabs__list sf-alt-background fr-pb-0" role="tablist" aria-label="Informations sur l'entreprise">
        <!-- Company Information Tab -->
        <li role="presentation">
          <button id="tabpanel-informations"
                  type="button"
                  class="fr-tabs__tab"
                  tabindex="0" role="tab"
                  aria-selected="true"
                  aria-controls="tabpanel-informations-panel">
            Informations générales
          </button>
        </li>

        <li role="presentation">
          <button id="tabpanel-data"
                  type="button"
                  class="fr-tabs__tab"
                  tabindex="-1" role="tab"
                  aria-selected="false"
                  aria-controls="tabpanel-data-panel">
            Données de l'entreprise
          </button>
        </li>

      <li role="presentation">
        <button id="tabpanel-helps"
                type="button"
                class="fr-tabs__tab"
                tabindex="-1" role="tab"
                aria-selected="false"
                aria-controls="tabpanel-helps-panel">
          Accompagnements
        </button>
      </li>
    </ul>

    <%= render 'info_panel_with_widgets' %>
    <%= render 'data_panel_with_widgets' %>
    <%= render 'establishment_trackings_list_panel' %>
  </div>
</div>