<div class="fr-table" id="table-md-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-md">
          <caption>
            <% if @establishment_trackings.any? %>
              <p><%= pluralize(@establishment_trackings.total_count, "accompagnement trouvé", "accompagnements trouvés") %></p>
            <% else %>
              <p>Aucun accompagnement trouvé pour cette combinaison de filtres.</p>
            <% end %>
          </caption>
          <% if @establishment_trackings.any? %>
            <thead>
          <tr>
            <th><%= sort_link @q, :establishment_siret, "SIRET" %></th>
            <th><%= sort_link @q, :establishment_raison_sociale, "Raison sociale" %></th>
            <th>Statut</th>
            <th><%= sort_link @q, :start_date, "Date de début" %></th>
            <th>Assignés</th>
            <th>Participants</th>
            <th>Étiquettes</th>
            <th colspan="2">Actions</th>
          </tr>
          </thead>
            <tbody>
            <% @establishment_trackings.each do |tracking| %>
              <tr>
                <td><%= tracking.establishment.siret %></td>
                <td><%= tracking.establishment.raison_sociale %></td>
                <td><%= tracking.aasm.human_state %></td>
                <td><%= l(tracking.start_date, format: :long) %></td>
                <td><%= tracking.referents.map(&:full_name).join(', ') %></td>
                <td><%= tracking.participants.map(&:full_name).join(', ') %></td>
                <td><%= tracking.tracking_labels.map(&:name).join(', ') %></td>
                <td>
                  <%= link_to 'Consulter', [tracking.establishment, tracking], class: 'fr-btn' %>
                </td>
                <td>
                  <%= link_to 'Fiche établissement',tracking.establishment, class: 'fr-btn fr-btn--secondary' %>
                </td>
              </tr>
            <% end %>
          </tbody>
            <%= paginate @establishment_trackings %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
