<div class="fr-table fr-mr-3w" id="table-md-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-md">
          <caption>
            <% if @paginated_establishment_trackings.any? %>
              <p><%= pluralize(@paginated_establishment_trackings.total_count, "accompagnement trouvé", "accompagnements trouvés") %></p>
            <% else %>
              <p>Aucun accompagnement trouvé pour cette combinaison de filtres.</p>
            <% end %>
          </caption>
          <% if @paginated_establishment_trackings.any? %>
            <thead>
          <tr>
            <th>Siret</th>
            <th>Raison sociale</th>
            <th>Statut</th>
            <th><%= sort_link @q, :start_date, "Date de début" %></th>
            <th>Assignés</th>
            <th>Participants</th>
            <th>Étiquettes</th>
            <th colspan="2">Actions</th>
          </tr>
          </thead>
            <tbody>
            <% @paginated_establishment_trackings.each do |tracking| %>
              <tr>
                <td><%= tracking.establishment.siret %></td>
                <td><%= tracking.establishment.raison_sociale %></td>
                <td><%= tracking.aasm.human_state %></td>
                <td><%= tracking.start_date.present? ? l(tracking.start_date, format: :default) : '-' %></td>
                <td><%= tracking.referents.map(&:full_name).join(', ') %></td>
                <td><%= tracking.participants.map(&:full_name).join(', ') %></td>
                <td><%= tracking.tracking_labels.map(&:name).join(', ') %></td>
                <td>
                  <%= link_to 'Voir', [tracking.establishment, tracking], class: 'fr-btn' %>
                </td>
                <td>
                  <%= link_to 'Historique',tracking.establishment, class: 'fr-btn fr-btn--secondary' %>
                </td>
              </tr>
            <% end %>
          </tbody>
            <%= paginate @paginated_establishment_trackings %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
