<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Raison sociale</th>
    <th>Département</th>
    <th>Référents</th>
    <th>Participants</th>
    <th>Étiquettes</th>
    <th>Créé par</th>
    <th>Date de création</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @establishment_trackings.each do |tracking| %>
    <tr>
      <td><%= tracking.id %></td>
      <td><%= tracking.establishment.raison_sociale %></td>
      <td><%= tracking.establishment.department.code %></td>
      <td><%= tracking.referents.map(&:full_name).join(', ') %></td>
      <td><%= tracking.participants.map(&:full_name).join(', ') %></td>
      <td><%= tracking.tracking_labels.map(&:name).join(', ') %></td>
      <td><%= tracking.creator.full_name %></td>
      <td><%= l(tracking.created_at, format: :short) %></td>
      <td>
        <%= link_to 'Voir', [tracking.establishment, tracking] %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <%= paginate @establishment_trackings %>
</table>