<div class="fr-table" id="table-md-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-md">
          <thead>
          <tr>
            <th>ID</th>
            <th>Raison sociale</th>
            <th>Département</th>
            <th>Référents</th>
            <th>Étiquettes</th>
            <th>Créé par</th>
            <th>Date de début</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <% @establishment_trackings.each do |tracking| %>
              <tr>
                <td><%= tracking.id %></td>
                <td><%= tracking.establishment.raison_sociale %></td>
                <td><%= tracking.establishment.department.code %></td>
                <td><%= tracking.referents.map(&:full_name).join(', ') %></td>
                <td><%= tracking.tracking_labels.map(&:name).join(', ') %></td>
                <td><%= tracking.creator.full_name %></td>
                <td><%= l(tracking.start_date, format: :long) %></td>
                <td>
                  <div class="fr-grid-row">
                    <div class="fr-col-6">
                      <%= link_to 'Voir cet accompagnement', [tracking.establishment, tracking], class: 'fr-link' %>
                    </div>
                    <div class="fr-col-6">
                      <%= link_to 'Voir tous les accompagnements',tracking.establishment, class: 'fr-link' %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
          <%= paginate @establishment_trackings %>
        </table>
      </div>
    </div>
  </div>
</div>
