<!-- Establishment Information Panel -->
<div id="tabpanel-informations-panel"
     class="fr-tabs__panel fr-tabs__panel--selected"
     role="tabpanel"
     aria-labelledby="tabpanel-informations"
     tabindex="0">
  <div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-6">
        <%= render 'establishment_trackings/info_panel/tracking_info' %>

        <div>
          <div class="accompagnement__tab-title">
            <h3>Informations sur l'établissement
              <% if policy(@establishment_tracking).edit? %>
                <%= link_to 'Modifier les informations', edit_establishment_establishment_tracking_path(@establishment, @establishment_tracking), class: 'fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-line fr-mb-2w' %>
              <% end %>
            </h3>
          </div>
          <p><strong>SIRET :</strong> <%= @establishment_tracking.establishment.siret %></p>
          <p><strong>Taille de l'entreprise
            :</strong> <%= @establishment_tracking.size&.name || 'Pas de taille renseignée' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-tracking-info-size" aria-describedby="button-tracking-info-size">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur la taille de l'entreprise</span>
            </button>
          </p>
          <span class="fr-tooltip fr-placement" id="button-tracking-info-size" role="tooltip" aria-hidden="true">
            La "taille de l'entreprise" indique la taille (par effectif et Chiffre d'affaires) du groupement auquel se rattache l'entreprise. Les statiques par "taille" permettent d'identifier les typologies d'entreprises accompagnées (filiale de groupe, PME, etc.). Retrouvez les définitions des "tailles" dans le guide utilisateur.
          </span>
          <p><strong>Filières :</strong>
            <% if @establishment_tracking.sectors.any? %>
              <%= @establishment_tracking.sectors.map(&:name).join(', ') %>
            <% else %>
              Pas de filière renseignée
            <% end %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-tracking-info-sectors" aria-describedby="button-tracking-info-sectors">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les filières</span>
            </button>
          </p>
          <span class="fr-tooltip fr-placement" id="button-tracking-info-sectors" role="tooltip" aria-hidden="true">
            La "filière" indique la filière économique ou chaîne de valeur dans laquelle s'inscrit l'entreprise. Différente du code NAF qui définit le secteur d'activité. Les statistiques par "filière" permettent d'identifier les segments de l'économie fragilisés au niveau local et national.
          </span>
        </div>

        <%= render 'establishment_trackings/info_panel/contacts_list', establishment: @establishment, establishment_tracking: @establishment_tracking %>

        <%= render 'establishment_trackings/info_panel/tracking_history' %>
      </div>

      <div class="fr-col-6">
        <div class="contributors-info">
          <div class="accompagnement__tab-title">
            <h3>Contributeurs de l'accompagnement
              <% if policy(@establishment_tracking).manage_contributors? %>
                <%= link_to 'Gérer les contributeurs', manage_contributors_establishment_establishment_tracking_path(@establishment, @establishment_tracking), class: 'fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-user-add-line fr-mb-2w' %>
              <% end %>
            </h3>
          </div>
          <p><strong>Référents :</strong>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-tracking-info-referents" aria-describedby="button-tracking-info-referents">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les référents</span>
            </button>
          </p>
          <span class="fr-tooltip fr-placement" id="button-tracking-info-referents" role="tooltip" aria-hidden="true">
            Le "référent" est la principale personne en charge l'accompagnement de l'entreprise.
            Conformément à la circulaire du 6 mars 2024, il s’agit de l’interlocuteur le plus à même d'accompagner l’entreprise :<br/><br/>
            <ul>
              <li>Le CRP pour les entreprises industrielles, stratégiques ou ayant un impact substantiel sur leur bassin d’emploi, employant plus de 50 salariés ;</li>
              <li>Les services de l’URSSAF pour les entreprises présentant un passif social ;</li>
              <li>Les services de la DGFiP pour les entreprises ayant un passif fiscal ;</li>
              <li>Les services de la DDETS pour les entreprises rencontrant un enjeu d’emploi et de mutation des compétences, conjointement au CRP si nécessaire ;</li>
              <li>Les services de la Banque de France pour les entreprises – hors établissements secondaires et filiales de groupes consolidés - rencontrant des difficultés de financement et notamment un besoin de médiation du crédit.</li>
            </ul>
            <br/><br>
            Plusieurs agents de différentes administrations peuvent être "référents" selon les problématiques et l'évolution du dossier. 
            Les "référents" sont responsables de la mise à jour de la synthèse et sont les seuls à pouvoir modifier le statut. Le SP CODEFI dispose d'un droit de regard sur la synthèse dans le cadre de la rédaction du CR du CODEFI. 
          </span>
          <p><%= @establishment_tracking.referents.map { |participant| participant.display_name }.join(', ') %></p>
          <p><strong>Participants :</strong>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-tracking-info-participants" aria-describedby="button-tracking-info-participants">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les participants</span>
            </button>
          </p>
          <span class="fr-tooltip fr-placement" id="button-tracking-info-participants" role="tooltip" aria-hidden="true">
            Le "participant" a besoin de suivre l'accompagnement sans intervenir directement auprès de l'entreprise. Cela lui permet de partager des informations via l'ajout de commentaire et/ ou de suivre facilement le dossier via le filtre "mes accompagnements" en page d'accueil. 
            Le SP CODEFI est « participant » dans chaque accompagnement issu de la liste de détection, ce qui ne l’empêchera pas d’être « référent » sur un certain nombre de dossiers.
            Il est possible d'ajouter en "participant" tout agent en dehors de votre zone géographique, après information du CODEFI. 
          </span>
          <p><%= @establishment_tracking.participants.map { |participant| participant.display_name }.join(', ') %></p>
        </div>
      </div>
    </div>

    <%= render 'establishment_trackings/info_panel/company_trackings' %>
  </div>
</div>