<!-- Establishment Information Panel -->
<div id="tabpanel-informations-panel"
     class="fr-tabs__panel fr-tabs__panel--selected"
     role="tabpanel"
     aria-labelledby="tabpanel-informations"
     tabindex="0">
  <div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-6" style="border-right: 1px solid #e5e5e5;">
        <div class="accompagnement__tab-title">
          <h3>Informations sur l'accompagnement
          <% if policy(@establishment_tracking).edit? %>
            <%= link_to 'Modifier les informations', edit_establishment_establishment_tracking_path(@establishment, @establishment_tracking), class: 'fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-line fr-mb-2w' %>
            <% end %>
          </h3>
        </div>
        <p><strong>Statut :</strong> <%= @establishment_tracking.aasm.human_state %></p>
        <p><strong>Date de début de l'accompagnement
          :</strong> <%= @establishment_tracking.start_date.present? ? l(@establishment_tracking.start_date, format: :default) : '-' %>
        </p>
        <p><strong>Criticité :</strong> <%= @establishment_tracking.criticality&.name || 'Pas de criticité renseignée' %></p>

        <p>
          <strong>Etiquettes :</strong>
          <% @establishment_tracking.tracking_labels.each do |label| %>
            <span class="fr-tag fr-tag--sm"><%= label.name %></span>
          <% end %>
        </p>
        <p><strong>Actions réalisées
          :</strong>
          <% if @establishment_tracking.actions.any? %>
            <% @establishment_tracking.actions.each do |action| %>
              <span class="fr-tag fr-tag--sm"><%= action.name %></span>
            <% end %>
          <% else %>
            <span>Pas d'actions renseignées</span>
          <% end %>
        </p>
        <h3>Informations sur l'établissement</h3>
        <p><strong>SIRET :</strong> <%= @establishment_tracking.establishment.siret %></p>
        <p><strong>Taille de l'établissement :</strong> <%= @establishment_tracking.size&.name || 'Pas de taille renseignée' %></p>
        <p><strong>Filières :</strong>
          <% if @establishment_tracking.sectors.any? %>
            <%= @establishment_tracking.sectors.map(&:name).join(', ') %>
          <% else %>
            Pas de filières renseignées
          <% end %>
        </p>
        <h3>Autres accompagnements</h3>
        <% if @other_trackings.any? %>
          <ul>
            <% @other_trackings.each do |track| %>
              <li>
                <%= link_to "#{track.start_date.present? ? l(track.start_date, format: :default) : 'Date de début inconnue'} - #{track.end_date.present? ? l(track.end_date, format: :default) : 'Date de fin inconnue'} - #{track.actions.any? ? track.actions.map(&:name).join(', ') : 'Pas d\'actions renseignées'}",
                            establishment_establishment_tracking_path(track.establishment, track), class: 'fr-link fr-icon-arrow-right-line fr-link--icon-right' %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>Pas d'autres accompagnements pour cet établissement.</p>
        <% end %>
      </div>

      <div class="fr-col-6">
        <div class="accompagnement__tab-title">
          <h3>Contributeurs
            <% if policy(@establishment_tracking).edit? %>
              <%= link_to 'Gérer les contributeurs', edit_establishment_establishment_tracking_path(@establishment, @establishment_tracking), class: 'fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-settings-5-line fr-mb-2w' %>
            <% end %>
          </h3>
        </div>
        <p><strong>Assignés :</strong></p>
        <p><%= @establishment_tracking.referents.map { |participant| full_name(participant) }.join(', ') %></p>
        <p><strong>Participants :</strong></p>
        <p><%= @establishment_tracking.participants.map { |participant| full_name(participant) }.join(', ') %></p>
      </div>
    </div>
  </div>
</div>