<!-- Establishment Information Panel -->
<div id="tabpanel-informations-panel"
     class="fr-tabs__panel fr-tabs__panel--selected"
     role="tabpanel"
     aria-labelledby="tabpanel-informations"
     tabindex="0">
  <div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-6">
        <%= render(TrackingInfoComponent.new(establishment_tracking: @establishment_tracking, establishment: @establishment_tracking.establishment, current_user: current_user)) %>

        <%= render(EstablishmentInfoComponent.new(establishment_tracking: @establishment_tracking, establishment: @establishment_tracking.establishment, current_user: current_user)) %>

        <%= render 'establishment_trackings/info_panel/contacts_list', establishment: @establishment, establishment_tracking: @establishment_tracking %>

        <%= render 'establishment_trackings/info_panel/tracking_history' %>
      </div>

      <div class="fr-col-6">
        <%= render ContributorsInfoComponent.new(establishment_tracking: @establishment_tracking, establishment: @establishment, current_user: current_user) %>
      </div>
    </div>

    <%= render 'establishment_trackings/info_panel/company_trackings' %>
  </div>
</div>