<%= form_with(model: [@establishment, @establishment_tracking], local: true, data: { controller: "tracking-status" }, class: "edit_tracking") do |form| %>

  <div class="fr-container">
    <div class="fr-alert fr-alert--warning fr-mb-3w fr-hidden" data-tracking-status-target="warningBanner">
      <p>Attention, vous allez rouvrir un accompagnement terminé. Il convient de créer un nouvel accompagnement pour préserver l'historique des accompagnements.</p>
    </div>

    <h1>Modifier les informations - <%= @establishment_tracking&.establishment&.raison_sociale %></h1>

    <div class="fr-grid-row fr-grid-row--left fr-mb-3w" style="border: grey 1px solid">
      <div class="fr-col-6">

        <div class="fr-p-3w">
          <h2>Informations sur l'accompagnement</h2>

          <% if policy(@establishment_tracking).manage_state? %>
            <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:state].any? %>">
              <%= form.label :state, 'Statut' %>
              <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-state" aria-describedby="button-edit-tracking-state">
                <span class="fr-icon-information-line" aria-hidden="true"></span>
                <span class="fr-sr-only">Information sur le statut</span>
              </button>
              <span class="fr-tooltip fr-placement" id="button-edit-tracking-state" role="tooltip" aria-hidden="true">
                Le "statut" indique l'état d'avancement de l'accompagnement :
                <ul>
                  <li>Il est "en cours" pour un accompagnement sur lequel l'agent travaille, des échanges entre partenaires ou avec l'entreprise sont en cours, ou encore que des solutions sont recherchées ou ont été proposées.</li>
                  <li>Il est "terminé" lorsque l'agent a proposé une solution ou une orientation, sans besoin d'actions complémentaires de sa part, ou que les solutions proposées ont été épuisées (pas de solution possible pour aider la société, ou société fermée).</li>
                  <li>Le "sous surveillance" n'a pas vocation à être utilisé dans le cadre des accompagnements d'entreprises issues des listes et traitées en CODEFI. Son usage est réservé aux CRP lorsque l'entreprise est identifiée comme fragilisée et/ou stratégique sans actions régulières sur le dossier. Les accompagnements "sous surveillance" ne sont pas pris compte dans les statistiques.</li>
                </ul>
              </span>
              <%= form.select :state, 
                            options_for_select([['En cours', 'in_progress'], ['Terminé', 'completed'], ['Sous surveillance', 'under_surveillance']], 
                            @establishment_tracking.state), 
                            {}, 
                            { class: 'fr-select', data: { tracking_status_target: "stateSelect", action: "change->tracking-status#toggleWarningBanner" } } %>
              <% @establishment_tracking.errors[:state].each do |error| %>
                <p class="fr-error-text"><%= error %></p>
              <% end %>
            </div>
          <% else %>
            <%= form.hidden_field :state, value: @establishment_tracking.state %>
          <% end %>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:criticality_id].any? %>">
            <%= form.label :criticality_id, 'Criticité' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-criticality" aria-describedby="button-edit-tracking-criticality">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur la criticité</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-criticality" role="tooltip" aria-hidden="true">
              La "criticité" définit la priorisation de traitement par le CODEFI de l'accompagnement, elle mesure l'urgence à agir en fonction du risque encouru par l'entreprise, des enjeux en termes stratégique ou d'emploi et de la sensibilité du dossier : 
              <ul>
                <li>La criticité "élevée" indique que l’entreprise nécessite une attention renforcée du CODEFI compte tenu de sa situation. Elle peut, entre autres, être confrontée à des risques élevés de défaillance à court terme et/ou sujette à des sensibilités politiques du fait de son intérêt stratégique.</li>
                <li>La criticité "modérée" indique que l'entreprise rencontre une difficulté avérée qui n’entraîne pas un péril à court terme. Les difficultés sont néanmoins sérieuses et requièrent une attention particulière des membres du CODEFI.</li>
                <li>Par défaut, les dossiers n'ont "pas de criticité". Cela indique une difficulté avérée de l'entreprise obligeant à son suivi régulier au sein du CODEFI, mais ne remettant pas en cause la pérennité de l’entreprise et des emplois.</li>
              </ul>
              L’agent "référent" est responsable de la définition de la criticité. En cas de suivi impliquant des agents de différentes administrations, la criticité est déterminée collégialement, en fonction de la priorité de l’entreprise pour le CODEFI.
            </span>
            <%= form.collection_select :criticality_id, 
                Criticality.all, 
                :id, 
                :name, 
                { selected: @establishment_tracking.criticality_id || Criticality.find_by(name: "Pas de criticité")&.id }, 
                { class: 'fr-select' } %>
            <% @establishment_tracking.errors[:criticality_id].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:tracking_label_ids].any? %>">
            <%= form.label :tracking_label_ids, 'Étiquettes' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-labels" aria-describedby="button-edit-tracking-labels">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les étiquettes</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-labels" role="tooltip" aria-hidden="true">
              Le champ "étiquettes" indique un élément de contexte ou un dispositif ponctuel ou prioritaire concernant le dossier.
            </span>
            <%= form.select :tracking_label_ids,
                            @system_labels,
                            {},
                            { multiple: true, class: 'tom-select', placeholder: 'Non renseigné', data: { controller: "tom-select" } } %>
            <% @establishment_tracking.errors[:tracking_label_ids].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:supporting_service_ids].any? %>">
            <%= form.label :supporting_service_ids, 'Instances concernées' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-supporting-service" aria-describedby="button-edit-tracking-supporting-service">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les instances concernées</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-supporting-service" role="tooltip" aria-hidden="true">
              Le champ "instances concernées" indique les parties prenantes concernées par le dossier.
            </span>
            <%= form.collection_select :supporting_service_ids, SupportingService.all, :id, :name, {}, { multiple: true, class: 'tom-select', placeholder: 'Non renseigné', data: { controller: "tom-select" } } %>
            <% @establishment_tracking.errors[:supporting_service_ids].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:difficulty_ids].any? %>">
            <%= form.label :Difficultés %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-difficulty" aria-describedby="button-edit-tracking-difficulty">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les difficultés</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-difficulty" role="tooltip" aria-hidden="true">
              Ce champ indique les difficultés rencontrées par les entreprises qu'elles soient les sources premières ou les conséquences de difficultés préexistantes. Par exemple, une entreprise avec des besoins de trésorerie peut également avoir été victime d'un aléa climatique à l'origine de ses problèmes de trésorerie.
            </span>
            <%= form.collection_select :difficulty_ids, Difficulty.all, :id, :name, {}, { multiple: true, class: 'tom-select', placeholder: 'Non renseigné', data: { controller: "tom-select" } } %>
            <% @establishment_tracking.errors[:difficulty_ids].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:user_action_ids].any? %>">
            <%= form.label :user_action_ids, 'Actions réalisées' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-user-action" aria-describedby="button-edit-tracking-user-action">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les actions réalisées</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-user-action" role="tooltip" aria-hidden="true">
              Ce champ précise les actions réellement mises en œuvre par l'agent ou le CODEFI. Il est à remplir une fois les actions réalisées, au cours ou à la clôture de l'accompagnement.
            </span>
            <%= form.collection_select :user_action_ids, UserAction.ordered, :id, :name, {}, { multiple: true, class: 'tom-select', placeholder: 'Non renseigné', data: { controller: "tom-select", tom_select_options: { sortField: { field: "position", direction: "asc" } } } } %>
            <% @establishment_tracking.errors[:user_action_ids].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:codefi_redirect_ids].any? %>">
            <%= form.label :codefi_redirect_ids, 'Réorientations hors CODEFI' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-codefi-redirect" aria-describedby="button-edit-tracking-codefi-redirect">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur la réorientation hors CODEFI</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-codefi-redirect" role="tooltip" aria-hidden="true">
              Ce champ précise les acteurs ne relevant pas du CODEFI, internes ou externes à l'administration, vers lesquels l'entreprise a été redirigée.
            </span>
            <%= form.collection_select :codefi_redirect_ids, CodefiRedirect.ordered, :id, :name, {}, { multiple: true, class: 'tom-select', placeholder: 'Non renseigné', data: { controller: "tom-select" } } %>
            <% @establishment_tracking.errors[:codefi_redirect_ids].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--left fr-mb-3w" style="border: grey 1px solid">
      <div class="fr-col-6">
        <div class="fr-p-3w">

          <h2>Informations sur l'établissement</h2>
          <p class="fr-m-0"><strong>SIRET</strong></p>

          <p><%= @establishment_tracking.establishment.siret %></p>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:size_id].any? %>">
            <%= form.label :size_id, 'Taille de l\'entreprise' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-size" aria-describedby="button-edit-tracking-size">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur la taille de l'entreprise</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-size" role="tooltip" aria-hidden="true">
              La "taille de l'entreprise" indique la taille (par effectif et Chiffre d'affaires) du groupement auquel se rattache l'entreprise. Les statiques par "taille" permettent d'identifier les typologies d'entreprises accompagnées (filiale de groupe, PME, etc.). Retrouvez les définitions des "tailles" dans le guide utilisateur.
            </span>
            <%= form.collection_select :size_id, Size.all, :id, :name, { include_blank: "Non renseigné" }, { class: 'fr-select' } %>
            <% @establishment_tracking.errors[:size_id].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>

          <div class="fr-input-group <%= 'fr-input-group--error' if @establishment_tracking.errors[:sector_ids].any? %>">
            <%= form.label :sector_ids, 'Filières' %>
            <button class="fr-btn--tooltip fr-btn" type="button" id="button-edit-tracking-sector" aria-describedby="button-edit-tracking-sector">
              <span class="fr-icon-information-line" aria-hidden="true"></span>
              <span class="fr-sr-only">Information sur les filières</span>
            </button>
            <span class="fr-tooltip fr-placement" id="button-edit-tracking-sector" role="tooltip" aria-hidden="true">
              La "filière" indique la filière économique ou chaîne de valeur dans laquelle s'inscrit l'entreprise. Différente du code NAF qui définit le secteur d'activité. Les statistiques par "filière" permettent d'identifier les segments de l'économie fragilisés au niveau local et national.
            </span>
            <%= form.collection_select :sector_ids, Sector.all, :id, :name, {}, { multiple: true, class: 'tom-select', placeholder: 'Non renseigné', data: { controller: "tom-select" } } %>
            <% @establishment_tracking.errors[:sector_ids].each do |error| %>
              <p class="fr-error-text"><%= error %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--left fr-mb-3w">
      <div class="fr-col-6">
        <div class="">
          <ul class="fr-btns-group fr-btns-group--inline-md">
            <li>
              <%= link_to 'Annuler', establishment_establishment_tracking_path(@establishment, @establishment_tracking), class: 'fr-btn fr-btn--secondary' %>
            </li>
            <li>
              <%= form.submit 'Enregistrer les modifications', class: 'fr-btn' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>


