<div class="fr-container">
  <div class="fr-col-12 fr-col-sm-10 fr-col-md-8">
    <h1>Gérer les contributeurs de l'accompagnement</h1>
    <%= form_with(model: [@establishment, @establishment_tracking], 
                  url: update_contributors_establishment_establishment_tracking_path(@establishment, @establishment_tracking), 
                  method: :patch,
                  data: { turbo: true }) do |form| %>
      <div id="error_explanation"></div>

      <% if @establishment_tracking.errors.any? %>
        <div class="fr-alert fr-alert--error fr-mb-4w">
          <h3 class="fr-alert__title">Erreur</h3>
          <p><%= @establishment_tracking.errors.full_messages.first %></p>
        </div>
      <% end %>

      <div class="fr-input-group">
        <%= form.label :referent_ids do %>
          Référents
          <button class="fr-btn--tooltip fr-btn" style="position: relative; top: 1px;" type="button" id="button-manage-contributors-referents" aria-describedby="button-manage-contributors-referents">
            <span class="fr-icon-information-line" aria-hidden="true"></span>
            <span class="fr-sr-only">Information sur les référents</span>
          </button>
          <span class="fr-tooltip fr-placement" id="button-manage-contributors-referents" role="tooltip" aria-hidden="true">
            Le "référent" est la principale personne en charge l'accompagnement de l'entreprise. 
            Conformément à la circulaire du 6 mars 2024, il s’agit de l’interlocuteur le plus à même d'accompagner l’entreprise :
            <ul>
              <li>Le CRP pour les entreprises industrielles, stratégiques ou ayant un impact substantiel sur leur bassin d’emploi, employant plus de 50 salariés ;</li>
              <li>Les services de l’URSSAF pour les entreprises présentant un passif social ;</li>
              <li>Les services de la DGFiP pour les entreprises ayant un passif fiscal ;</li>
              <li>Les services de la DDETS pour les entreprises rencontrant un enjeu d’emploi et de mutation des compétences, conjointement au CRP si nécessaire ;</li>
              <li>Les services de la Banque de France pour les entreprises – hors établissements secondaires et filiales de groupes consolidés - rencontrant des difficultés de financement et notamment un besoin de médiation du crédit.</li>
            </ul>

            Plusieurs agents de différentes administrations peuvent être "référents" selon les problématiques et l'évolution du dossier. 
            Les "référents" sont responsables de la mise à jour de la synthèse et sont les seuls à pouvoir modifier le statut. Le SP CODEFI dispose d'un droit de regard sur la synthèse dans le cadre de la rédaction du CR du CODEFI.
          </span>
          <span class="fr-hint-text">Saisissez au moins 3 caractères</span>
        <% end %>
        <%= form.collection_select :referent_ids, User.includes([:entity]).kept, :id, :display_name, {}, { multiple: true, class: 'tom-select', autocomplete: "off", data: { controller: "tom-select", min_search: "3" } } %>
        <%= turbo_frame_tag "discarded_referents" do %>
          <% @establishment_tracking.discarded_referents.each do |referent| %>
            <%= form.hidden_field :discarded_referent_ids, multiple: true, value: referent.id %>
          <% end %>
          <% if @establishment_tracking.discarded_referents.any? %>
            <div class="fr-mb-4w fr-mt-4w">
              <p><strong>Référents archivés :</strong></p>
              <ul class="fr-list">
                <% @establishment_tracking.discarded_referents.each do |referent| %>
                  <li class="fr-grid-row fr-grid-row--middle fr-mb-2w" id="<%= dom_id(@establishment_tracking.tracking_referents.find_by(user: referent)) %>">
                    <div class="fr-col">
                      <%= referent.display_name %>
                    </div>
                    <div class="fr-col-auto">
                      <%= link_to remove_referent_establishment_establishment_tracking_path(@establishment, @establishment_tracking, user_id: referent.id),
                                  data: { 
                                    turbo_method: :delete,
                                    turbo_confirm: "Êtes-vous sûr de vouloir supprimer définitivement ce référent ?" 
                                  },
                                  class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-delete-line' do %>
                        Supprimer définitivement
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="fr-input-group">
        <%= form.label :participant_ids do %>
          Participants
          <button class="fr-btn--tooltip fr-btn" style="position: relative; top: 1px;" type="button" id="button-manage-contributors-participants" aria-describedby="button-manage-contributors-participants">
            <span class="fr-icon-information-line" aria-hidden="true"></span>
            <span class="fr-sr-only">Information sur les participants</span>
          </button>
          <span class="fr-tooltip fr-placement" id="button-manage-contributors-participants" role="tooltip" aria-hidden="true">
            Le "participant" a besoin de suivre l'accompagnement sans intervenir directement auprès de l'entreprise. Cela lui permet de partager des informations via l'ajout de commentaire et/ ou de suivre facilement le dossier via le filtre "mes accompagnements" en page d'accueil. 
            Le SP CODEFI est "participant" dans chaque accompagnement issu de la liste de détection, ce qui ne l’empêchera pas d’être "référent" sur un certain nombre de dossiers.
            Il est possible d'ajouter en "participant" tout agent en dehors de votre zone géographique, après information du CODEFI. 
          </span>
          <span class="fr-hint-text">Saisissez au moins 3 caractères</span>
        <% end %>
        <%= form.collection_select :participant_ids, User.includes([:entity]).kept, :id, :display_name, {}, { multiple: true, class: 'tom-select', data: { controller: "tom-select", min_search: "3" } } %>
        <%= turbo_frame_tag "discarded_participants" do %>
          <% @establishment_tracking.discarded_participants.each do |participant| %>
            <%= form.hidden_field :discarded_participant_ids, multiple: true, value: participant.id %>
          <% end %>
          <% if @establishment_tracking.discarded_participants.any? %>
            <div class="fr-mb-4w fr-mt-4w">
              <p><strong>Participants archivés :</strong></p>
              <ul class="fr-list">
                <% @establishment_tracking.discarded_participants.each do |participant| %>
                  <li class="fr-grid-row fr-grid-row--middle fr-mb-2w" id="<%= dom_id(@establishment_tracking.tracking_participants.find_by(user: participant)) %>">
                    <div class="fr-col">
                      <%= participant.display_name %>
                    </div>
                    <div class="fr-col-auto">
                      <%= link_to remove_participant_establishment_establishment_tracking_path(@establishment, @establishment_tracking, user_id: participant.id),
                                  data: { 
                                    turbo_method: :delete,
                                    turbo_confirm: "Êtes-vous sûr de vouloir supprimer définitivement ce participant ?" 
                                  },
                                  class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-delete-line' do %>
                        Supprimer définitivement
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>

      <ul class="fr-btns-group fr-btns-group--inline-md">
        <li>
          <%= form.submit 'Mettre à jour les contributeurs', class: 'fr-btn' %>
        </li>
        <li>
          <%= link_to 'Annuler', establishment_establishment_tracking_path(@establishment, @establishment_tracking), class: 'fr-btn fr-btn--secondary' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>