<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-3"></div>
    <div class="fr-col-6">
      <h1>Nouvel accompagnement pour <%= @establishment.raison_sociale %></h1>
      <h2>SIRET : <%= @establishment.siret %></h2>

      <%= form_with(model: [@establishment, @establishment_tracking], local: true) do |form| %>
        <% if @establishment_tracking.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@establishment_tracking.errors.count, "erreur") %> lors la création de cet accompagnement :</h2>
            <ul>
              <% @establishment_tracking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="fr-input-group">
          <%= form.label 'Assignés' %>
          <%= form.collection_select :referent_ids, User.all, :id, :full_name, {}, { multiple: true, class: 'tom-select', data: { controller: "tom-select" } } %>
        </div>

        <div class="fr-input-group">
          <%= form.label :Participants %>
          <%= form.collection_select :participant_ids, User.all, :id, :full_name, {}, { multiple: true, class: 'tom-select', data: { controller: "tom-select" } } %>
        </div>

        <div class="fr-input-group">
          <%= form.label :tracking_label_ids, 'Étiquettes' %>
          <%= form.select :tracking_label_ids,
                          @system_labels,
                          {},
                          { multiple: true, class: 'tom-select', data: { controller: "tom-select" } } %>
        </div>

        <%= form.submit 'Créer l\'accompagnement', class: 'fr-btn' %>
      <% end %>
      <div class="fr-mt-2w">
        <%= link_to 'Annuler', @establishment, class: 'fr-mt-2w' %>
      </div>
    </div>
  </div>

</div>

