<div class="fr-col-12 fr-col-sm-10 fr-col-md-8 fr-mb-3w">
  <div class="fr-container">
    <%= breadcrumb %>

    <div class="accompagnement__header-container">
      <h1>Accompagnement - <%= @establishment_tracking.establishment.raison_sociale %></h1>

      <% if policy(@establishment_tracking).edit? %>
        <%= link_to 'Modifier', edit_establishment_establishment_tracking_path(@establishment, @establishment_tracking), class: 'fr-btn fr-mb-2w' %>
      <% end %>
    </div>

    <ul class="fr-tags-group">
      <% @establishment_tracking.tracking_labels.each do |label| %>
        <li>
          <p class="fr-tag fr-tag--sm"><%= label.name %></p>
        </li>
      <% end %>
    </ul>

    <p><strong>SIRET :</strong> <%= @establishment_tracking.establishment.siret %></p>
    <p><strong>Créateur :</strong> <%= full_name(@establishment_tracking.creator) %></p>
    <p><strong>Date de début :</strong> <%= @establishment_tracking.start_date.present? ? l(@establishment_tracking.start_date, format: :default) : '-' %></p>
    <p><strong>Date de fin :</strong> <%= @establishment_tracking.end_date.present? ? l(@establishment_tracking.end_date, format: :default) : '-' %></p>



    <p><strong>Statut :</strong> <%= @establishment_tracking.aasm.human_state %></p>
    <p><strong>Assignés :</strong>
      <%= @establishment_tracking.referents.map { |participant| full_name(participant) }.join(', ') %>
    </p>
    <p><strong>Participants :</strong>
      <%= @establishment_tracking.participants.map { |participant| full_name(participant) }.join(', ') %>
    </p>
    <p><strong>Actions :</strong>
      <%= @establishment_tracking.actions.any? ? @establishment_tracking.actions.map { |action| action.name }.join(', ') : 'Pas d\'actions renseignées' %>
    </p>


    <div class="fr-tabs">
      <ul class="fr-tabs__list" role="tablist">
        <% current_user.networks.each_with_index do |network, index| %>
          <li role="presentation">
            <button id="tabpanel-<%= index %>"
                    class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                    tabindex="<%= index.zero? ? 0 : -1 %>"
                    role="tab"
                    aria-selected="<%= index.zero? ? 'true' : 'false' %>"
                    aria-controls="tabpanel-<%= index %>-panel">
              <%= network.name %>
            </button>
          </li>
        <% end %>
      </ul>

      <% current_user.networks.each_with_index do |network, index| %>
        <div id="tabpanel-<%= index %>-panel"
             class="fr-tabs__panel <%= 'fr-tabs__panel--selected' if index.zero? %>"
             role="tabpanel"
             aria-labelledby="tabpanel-<%= index %>"
             tabindex="0">

          <h3>Synthèse <%= network.name %></h3>
          <%= turbo_frame_tag "#{network.name.parameterize}_summary" do %>
            <% if network.name.downcase == 'codefi' %>
              <%= render @codefi_summaries || "summaries/form", summary: Summary.new(network: network), network: network %>
            <% else %>
              <%= render @user_network_summaries || "summaries/form", summary: Summary.new(network: network), network: network %>
            <% end %>
          <% end %>

          <hr class="fr-mt-4w fr-mb-4w" />

          <h3>Commentaires <%= network.name %></h3>
          <%= turbo_frame_tag "new_comment_#{network.name.parameterize}" do %>
            <%= render "comments/form", comment: Comment.new(network: network), network: network %>
          <% end %>

          <div id="comments_<%= network.name.parameterize %>">
            <%= turbo_frame_tag "comments_#{network.name.parameterize}" do %>
              <% if network.name.downcase == 'codefi' %>
                <%= render @codefi_comments, network: network %>
              <% else %>
                <%= render @user_network_comments, network: network %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>