<div class="fr-container--fluid">
  <nav role="navigation" class="fr-ml-4w fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
      Voir le fil d’Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to 'Accompagnements', establishment_trackings_path, class: 'fr-breadcrumb__link' %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">
            <%= @establishment_tracking.establishment.raison_sociale %>
          </a>
        </li>
      </ol>
    </div>
  </nav>  <div class="fr-pl-4w fr-pb-4w fr-pt-4w custom-background" style="display: flex; align-items: center; gap: 8px;">
    <h1 style="margin: 0;">Accompagnement - <%= @establishment_tracking.establishment.raison_sociale %></h1>
    <span class="<%= badge_class_for(@establishment_tracking.aasm.human_state) %>">
    <%= @establishment_tracking.aasm.human_state %>
  </span>
  </div>
  <div class="fr-tabs">
    <ul class="fr-tabs__list custom-background fr-pb-0" role="tablist" aria-label="Gestion des onglets">
      <!-- Establishment Information Tab -->
      <li role="presentation">
        <button id="tabpanel-informations"
                class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                tabindex="0" role="tab"
                aria-selected="true"
                aria-controls="tabpanel-informations-panel">
          Informations
        </button>
      </li>

      <!-- User Networks Tabs -->
      <% current_user.networks.each do |network| %>
        <li role="presentation">
          <button id="tabpanel-<%= network.name.parameterize %>"
                  class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                  tabindex="-1" role="tab"
                  aria-selected="false"
                  aria-controls="tabpanel-<%= network.name.parameterize %>-panel">
            <%= network.name %>
          </button>
        </li>
      <% end %>
    </ul>

    <%= render 'info_panel' %>

    <!-- User Networks Panels -->
    <% current_user.networks.each do |network| %>
      <div id="tabpanel-<%= network.name.parameterize %>-panel"
           class="fr-tabs__panel"
           role="tabpanel"
           aria-labelledby="tabpanel-<%= network.name.parameterize %>"
           tabindex="0">

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-6">
            <h4>Suivi de l'accompagnement en cours</h4>
            <%= turbo_frame_tag "#{network.name.parameterize}_summary" do %>
              <% if network.name.downcase == 'codefi' %>
                <%= render @codefi_summaries || "summaries/form", summary: Summary.new(network: network), network: network %>
              <% else %>
                <%= render @user_network_summaries || "summaries/form", summary: Summary.new(network: network), network: network %>
              <% end %>
            <% end %>

            <%= turbo_frame_tag "new_comment_#{network.name.parameterize}" do %>
              <%= render "comments/form", comment: Comment.new(network: network), network: network %>
            <% end %>
            <div class="chat-container">
              <div id="comments_<%= network.name.parameterize %>">
                <%= turbo_frame_tag "comments_#{network.name.parameterize}" do %>
                  <% grouped_comments = (network.name.downcase == 'codefi' ? @codefi_comments : @user_network_comments).group_by { |comment| comment.created_at.to_date } %>
                  <% grouped_comments.each do |date, comments| %>
                    <div class="date-separator"><%= l(date, format: :long) %></div>
                    <% comments.each do |comment| %>
                      <%= render "comments/comment", comment: comment %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
