<%= turbo_frame_tag "data_urssaf_widget" do %>
  <div class="fr-col-12">
    <div class="sf-entreprise-subtitle fr-mb-3w">
      <h2 class="fr-mb-0">
        Cotisations, impayés et délais de paiement URSSAF
      </h2>

      <div>
        <button aria-describedby="tooltip-urssaf" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
        <div class="fr-tooltip fr-placement" id="tooltip-urssaf" role="tooltip">
          <p class="fr-text--xs fr-mb-0">Ce graphique représente les données de l'URSSAF.</p>
          <p class="fr-text--xs fr-mb-0">Les dates représentées sont les dates de fin des périodes appelées.</p>
          <ul>
            <li>Cotisations : montant des cotisations appelées au 1er du mois.</li>
            <li>Dette (part patronale) : montant cumulé des dettes restant à payer sur la part patronale, entre le vingtième jour du mois précédent et le vingtième du mois en cours.</li>
            <li>Dette (part salariale) : montant cumulé des dettes restant à payer sur la part salariale (ou ouvrière), entre le vingtième jour du mois précédent et le vingtième du mois en cours.</li>
            <li>Délai de paiement accordé (expérimental) : montant cumulé des délais accordés sur la période séparant leur création et leur échéances.</li>
          </ul>
        </div>
      </div>
    </div>

    <% if @cotisations.present? || @parts_salariales.present? || @parts_patronales.present? || @montant_echeancier.present? %>
      <p class="fr-mb-0">Les données ci-dessous sont mobilisées dans le calcul de la probabilité de défaillance de l'entreprise.</p>
      <p>Les informations ne doivent pas être partagées en dehors du CODEFI ou des agents habilités à l’outil.</p>

      <div
        data-controller="segmented-control-widget"
      >
        <div>
          <div class="fr-mb-3w fr-mt-5w">
            <fieldset class="fr-segmented fr-segmented--no-legend">
              <legend class="fr-segmented__legend">Format d'affichage</legend>
              <div class="fr-segmented__elements">
                <div class="fr-segmented__element">
                  <input
                    value="chart"
                    checked
                    type="radio"
                    id="segmented-urssaf-chart"
                    name="segmented-urssaf"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-urssaf-chart">Graphique</label>
                </div>
                <div class="fr-segmented__element">
                  <input
                    value="table"
                    type="radio"
                    id="segmented-urssaf-table"
                    name="segmented-urssaf"
                    data-action="input->segmented-control-widget#switch"
                  >
                  <label class="fr-label" for="segmented-urssaf-table">Tableau</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div
          data-segmented-control-widget-target="panel"
          data-panel="chart"
          class="sf-segmented fr-col-12 fr-col-lg-8"
        >
          <div
            data-controller="orthogonal-chart-widget"
            data-orthogonal-chart-widget-title-value="Cotisations, impayés et délais de paiement URSSAF"
            data-orthogonal-chart-widget-labels-value='<%= @formatted_periodes %>'
            data-orthogonal-chart-widget-dataset-names-value='<%= @dataset_names %>'
            data-orthogonal-chart-widget-datasets-value='<%= [@cotisations, @parts_salariales, @parts_patronales, @montant_echeancier].to_json %>'
            data-orthogonal-chart-widget-colors-light-theme-value='<%= ['#000091', '#FCBFBF', '#6A6AF4', '#E1000F'] %>'
            data-orthogonal-chart-widget-colors-dark-theme-value='<%= ['#C6C6FB', '#e1000f', '#8585F6', '#FF9575'] %>'
            data-orthogonal-chart-widget-types-value='<%= ['line', 'bar', 'bar', 'line'] %>'
            data-orthogonal-chart-widget-border-dash-value='<%= [[], [], [], [5,5]].to_json %>'
            data-orthogonal-chart-widget-order-value='<%= [1, 3, 4, 1].to_json %>'
            data-orthogonal-chart-widget-bar-mode-value="stacked"
            data-orthogonal-chart-widget-unit-value=" €"
            class="chart-container"
            style="position: relative; max-width: 100%; aspect-ratio: 3/2;"
          >
            <canvas
              data-orthogonal-chart-widget-target="chart"
              class="sf-chart"
              role="img"
              aria-label="Graphique &quot;Cotisations, impayés et délais de paiement URSSAF&quot; - voir les données dans la partie tableau"
            ></canvas>
          </div>

          <p class="fr-mt-3w fr-mb-0 fr-text--sm"><strong>Source :</strong> ACOSS</p>
        </div>


        <div
          id="sf-urssaf-table"
          class="sf-segmented sf-segmented--hidden"
          data-segmented-control-widget-target="panel"
          data-panel="table"
        >

          <div class="fr-table fr-table--no-caption fr-table--bordered fr-table--multiline" id="table-urssaf-component">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table id="table-urssaf">
                    <caption>Cotisations, impayés et délais de paiement URSSAF</caption>
                    <thead>
                    <tr>
                      <th scope="col">Période</th>
                      <% @dataset_names.each do |name| %>
                        <th scope="col"><%= name %></th>
                      <% end %>
                    </tr>
                    </thead>
                    <tbody>

                    <% @formatted_periodes.each_with_index do |periode, index| %>
                      <tr id="table-urssaf-row-key-<%= index %>" data-row-key="<%= index %>">
                        <th scope="row"><%= periode %></th>
                        <td>
                          <% if @cotisations[index].present? %>
                            <%= @cotisations[index].ceil(2) %> €
                          <% else %>
                            /
                          <% end %>
                        </td>
                        <td>
                          <% if @parts_salariales[index].present? %>
                            <%= @parts_salariales[index].ceil(2) %> €
                          <% else %>
                            /
                          <% end %>
                        </td>
                        <td>
                          <% if @parts_patronales[index].present? %>
                            <%= @parts_patronales[index].ceil(2) %> €
                          <% else %>
                            /
                          <% end %>
                        </td>
                        <td>
                          <% if @montant_echeancier[index].present? %>
                            <%= @montant_echeancier[index].ceil(2) %> €
                          <% else %>
                            /
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <p class="fr-mt-3w fr-mb-0 fr-text--sm"><strong>Source :</strong> ACOSS</p>

        </div>
      </div>
    <% else %>
      <% if @error.present? %>
        <%= render 'shared/data_state', error: @error %>
      <% else %>
        <div class="fr-notice fr-notice--info">
          <div class="fr-container">
            <div class="fr-notice__body">
              <p>
                <span class="fr-notice__title">Aucune donnée disponible pour cette entreprise.</span>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
<% end %>
