<td>
  <% if tracking.state.present? %>
    <%= content_tag :p, state_wording_for(tracking.state), { class: badge_class_for(tracking.state) } %>
  <% end %>
</td>
<td>
  <% if tracking.criticality.present? %>
    <%= content_tag :p, tracking.criticality.name, { class: criticality_class_for(tracking.criticality.name) } %>
  <% end %>
</td>
<td>
  <% if tracking.referents.any? %>
    <% first_referent = tracking.referents.first %>
    <span title="<%= tracking.referents.map(&:full_name).join(', ') %>">
      <%= truncate(first_referent.full_name, length: 20) %>
    </span>
    <% if tracking.referents.size > 1 %>
      <span>+<%= tracking.referents.size - 1 %></span>
    <% end %>
  <% else %>
    <span>Aucun référent</span>
  <% end %>
</td>
<td>
  <%= tracking.modified_at.present? ? l(tracking.modified_at, format: :default) : '-' %>
</td>
<td>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non quam ultrices, pretium lectus et, bibendum dolor. Nam fringilla lacus sit amet facilisis fermentum. Ut suscipit felis quam, et dapibus leo congue ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
</td>
<td>
  <%= link_to [tracking.establishment, tracking], class: 'fr-link fr-link--sm fr-icon-arrow-right-line fr-link--icon-right', data: { turbo: false } do %>
    Consulter <span class="fr-sr-only"><%= tracking.establishment.raison_sociale %></span>
  <% end %>
</td>