<%= turbo_frame_tag "establishment_trackings_list_widget" do %>
  <h2>Accompagnements</h2>
  <% if !@has_any_trackings %>
    <div class="fr-notice fr-notice--info fr-mb-4w">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p>
            <span class="fr-notice__title">L'établissement n'a jamais fait l'objet d'un accompagnement.</span>
          </p>
        </div>
      </div>
    </div>

    <% if @establishment.is_active %>
      <%= link_to "Créer un accompagnement",
                  new_establishment_establishment_tracking_path(@establishment),
                  class: "fr-btn",
                  data: { turbo: false }
      %>
    <% end %>
  <% elsif !@can_see_trackings %>
    <div class="fr-notice fr-notice--info fr-mb-4w">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p>
            <span class="fr-notice__title">Vos accès géographiques ne vous permettent pas d'accéder aux accompagnements de cet établissement.</span>
          </p>
        </div>
      </div>
    </div>
  <% else %>
    <% if !@in_progress_trackings.present? && !@under_surveillance_trackings.present? %>
      <div class="fr-notice fr-notice--info">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Aucun accompagnement en cours ou sous surveillance actuellement. Consultez les accompagnements terminés ci-dessous.</span>
            </p>
          </div>
        </div>
      </div>

      <% if @establishment.is_active %>
        <%= link_to "Créer un accompagnement",
                    new_establishment_establishment_tracking_path(@establishment),
                    class: "fr-btn fr-mt-2w",
                    data: { turbo: false }
        %>
      <% end %>
    <% end %>

    <div class="fr-table fr-table--no-caption fr-table--bordered" id="sf-trackings-table">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-0">
              <caption>Accompagnements</caption>
              <thead>
              <tr>
                <th scope="col" class="sf-col-sm-md">Statut</th>
                <th scope="col" class="sf-col-sm-md">Criticité</th>
                <th scope="col" class="fr-col--md">Référents</th>
                <th scope="col" class="sf-col-sm-md"><abbr title="Dernière modification">Dernière modif.</abbr></th>
                <th scope="col">Actions réalisées</th>
                <th scope="col" class="sf-col-sm-md">Actions</th>
              </tr>
              </thead>
              <tbody>

              <% @in_progress_trackings.each do |tracking| %>
                <tr class="sf-in-progress-tracking fr-text--lg">
                  <%= render partial: "establishment_trackings_row", locals: { tracking: tracking } %>
                </tr>
              <% end %>

              <% @under_surveillance_trackings.each do |tracking| %>
                <tr>
                  <%= render partial: "establishment_trackings_row", locals: { tracking: tracking } %>
                </tr>
              <% end %>

              <% @completed_trackings.each do |tracking| %>
                <tr>
                  <%= render partial: "establishment_trackings_row", locals: { tracking: tracking } %>
                </tr>
              <% end %>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
