<%= turbo_frame_tag "insee_widget" do %>
  <div class="sf-entreprise-subtitle">
    <h2>
      Informations générales
    </h2>
    <% if @date_fermeture_formatted.present? %>
      <p class="fr-badge fr-badge--pink-macaron">
        Fermé le <%= @date_fermeture_formatted %>
      </p>
    <% end %>
  </div>

  <dl class="sf-keyvalue-list">
    <dt class="sf-keyvalue-list__key">SIRET :</dt>
    <dd class="sf-keyvalue-list__value">
      <%= @establishment.siret %>
      <% if @establishment.siege %>
        <span class="fr-badge fr-ml-1w">Siège social</span>
      <% end %>
    </dd>

    <% if @insee_data.present? && @insee_data["data"].present? %>
      <% activite_principale = @insee_data["data"]["activite_principale"] %>
      <% if activite_principale.present? %>
        <dt class="sf-keyvalue-list__key">Activité principale (NAF/APE) : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= activite_principale["libelle"] %> - <%= activite_principale["code"] %>
        </dd>
      <% end %>

      <% unite_legale = @insee_data["data"]["unite_legale"] %>
      <% if unite_legale.present? %>
        <dt class="sf-keyvalue-list__key">Forme juridique : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= unite_legale["forme_juridique"]["libelle"] %>
        </dd>
      <% end %>

      <% if @insee_data["data"]["date_creation"].present? %>
        <dt class="sf-keyvalue-list__key">Date d'ouverture de l'établissement : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= format_date_with_age(@insee_data["data"]["date_creation"]) %>
        </dd>
      <% end %>

      <% if @company_insee_data.present? && @company_insee_data["data"].present? && @company_insee_data["data"]["date_creation"].present? %>
        <dt class="sf-keyvalue-list__key">Date de création de l'entreprise : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= format_date_with_age(@company_insee_data["data"]["date_creation"]) %>
        </dd>
      <% end %>

      <% adresse = @insee_data["data"]["adresse"] %>
      <% if adresse.present? %>
        <dt class="sf-keyvalue-list__key">Adresse postale de l'établissement : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= [
                adresse["numero_voie"],
                adresse["indice_repetition_voie"],
                adresse["type_voie"],
                adresse["libelle_voie"],
                adresse["complement_adresse"],
                adresse["code_postal"],
                adresse["libelle_commune"]
              ].select(&:present?).join(" ") %>
        </dd>
      <% end %>
    <% end %>
  </dl>
  <% if !@insee_data.present? %>
    <div class="fr-col-12 fr-col-xl-8">
      <div role="notice" class="fr-notice fr-notice--alert fr-mt-3w">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Erreur lors de la récupération des données</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
