<%= turbo_frame_tag "insee_widget" do %>
  <div class="sf-entreprise-subtitle fr-mb-3w">
    <h2 class="fr-mb-0">
      Informations générales
    </h2>

    <div>
      <button aria-describedby="tooltip-infos-generales" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
      <span class="fr-tooltip fr-placement" id="tooltip-infos-generales" role="tooltip">
          Les données d’identité de l’entreprise sont principalement issues de la base Sirene des entreprises et de leurs établissements produite par l’Insee.
        </span>
    </div>

    <% if @date_fermeture_formatted.present? %>
      <p class="fr-badge fr-badge--pink-macaron fr-mb-0">
        Fermé le <%= @date_fermeture_formatted %>
      </p>
    <% end %>
  </div>

  <dl class="sf-keyvalue-list">
    <dt class="sf-keyvalue-list__key">SIRET :</dt>
    <dd class="sf-keyvalue-list__value">
      <%= @establishment.siret %>
      <% if @establishment.siege %>
        <span class="fr-badge fr-ml-1w">Siège social</span>
      <% end %>
    </dd>

    <% if @insee_data.present? && @insee_data["data"].present? %>
      <% activite_principale = @insee_data["data"]["activite_principale"] %>
      <% if activite_principale.present? %>
        <dt class="sf-keyvalue-list__key">Activité principale (NAF/APE) : </dt>
        <dd class="sf-keyvalue-list__value">
          <button aria-describedby="tooltip-activite-principale" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
          <span class="fr-tooltip fr-placement" id="tooltip-activite-principale" role="tooltip">
            Le niveau de secteur indiqué correspond à la sous-classe de la nomenclature Insee. Il s'agit d'une donnée déclarative fournie par l’entreprise lors de sa création. Il est suivi du code NAF.
          </span>
          <%= activite_principale["libelle"] %> - <%= activite_principale["code"] %>
        </dd>
      <% end %>

      <% unite_legale = @insee_data["data"]["unite_legale"] %>
      <% if unite_legale.present? %>
        <dt class="sf-keyvalue-list__key">Forme juridique : </dt>
        <dd class="sf-keyvalue-list__value">
          <button aria-describedby="tooltip-forme-juridique" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
          <span class="fr-tooltip fr-placement" id="tooltip-forme-juridique" role="tooltip">
            La donnée correspond à la catégorie juridique de niveau III.
          </span>
          <%= unite_legale["forme_juridique"]["libelle"] %>
        </dd>
      <% end %>

      <% if @insee_data["data"]["date_creation"].present? %>
        <dt class="sf-keyvalue-list__key">Date d'ouverture de l'établissement : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= format_date_with_age(@insee_data["data"]["date_creation"]) %>
        </dd>
      <% end %>

      <% if @company_insee_data.present? && @company_insee_data["data"].present? && @company_insee_data["data"]["date_creation"].present? %>
        <dt class="sf-keyvalue-list__key">Date de création de l'entreprise : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= format_date_with_age(@company_insee_data["data"]["date_creation"]) %>
        </dd>
      <% end %>

      <% adresse = @insee_data["data"]["adresse"] %>
      <% if adresse.present? %>
        <dt class="sf-keyvalue-list__key">Adresse postale de l'établissement : </dt>
        <dd class="sf-keyvalue-list__value">
          <%= [
                adresse["numero_voie"],
                adresse["indice_repetition_voie"],
                adresse["type_voie"],
                adresse["libelle_voie"],
                adresse["complement_adresse"],
                adresse["code_postal"],
                adresse["libelle_commune"]
              ].select(&:present?).join(" ") %>
        </dd>
      <% end %>
    <% end %>
  </dl>
  <% if !@insee_data.present? %>
    <div class="fr-col-12 fr-col-xl-8">
      <div role="notice" class="fr-notice fr-notice--alert fr-mt-3w">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Erreur lors de la récupération des données</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
