<h1>Etablissements</h1>

<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-4">
          <%= form_with(url: establishments_path, method: :get, data: { controller: 'submit-on-change' }) do |f| %>
            <%= f.label :campaign_id, 'Choisir une campagne', class: 'fr-label' %>
          <%= f.select :campaign_id, options_for_select([['Toutes les campagnes', nil]] + Campaign.all.map { |c| [c.name, c.id] }, params[:campaign_id]), {}, {class: 'fr-select', data: { 'submit-on-change-target': 'select' }} %>
          <% end %>
      </div>
    </div>

    <div class="fr-table fr-table--bordered fr-mt-4w">
      <table>
        <caption>Liste des établissements</caption>
        <thead>
        <tr>
          <th scope="col">Siren</th>
          <th scope="col">Siret</th>
          <th scope="col">Nom</th>
          <th scope="col">Siège ?</th>
          <th scope="col">Département</th>
          <th scope="col">Chiffre Affaire</th>
          <th scope="col">Resultat d'Exploitation</th>
          <th scope="col">Excedent Brut</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @establishments.each do |establishment| %>
          <tr>
            <td><%= establishment.siren %></td>
            <td><%= establishment.siret %></td>
            <td><%= establishment.raison_sociale %></td>
            <td><%= establishment.company? ? 'Oui' : 'Non' %></td>
            <td><%= "#{establishment.department.name} (#{establishment.department.code})" %></td>
            <td>
              <%= establishment.chiffre_affaire %> (<%= establishment.arrete_bilan.year %>)
              <% if establishment.chiffre_affaire.nil? || establishment.prev_chiffre_affaire.nil? %>
                <span>-</span>
              <% elsif establishment.chiffre_affaire > establishment.prev_chiffre_affaire %>
                <span class="fr-icon-arrow-up-s-line" aria-hidden="true"></span>
              <% else %>
                <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
              <% end %>
            </td>
            <td>
              <%= establishment.resultat_expl %> (<%= establishment.arrete_bilan.year %>)
              <% if establishment.resultat_expl.nil? || establishment.prev_resultat_expl.nil? %>
                <span>-</span>
              <% elsif establishment.resultat_expl > establishment.prev_resultat_expl %>
                <span class="fr-icon-arrow-up-s-line" aria-hidden="true"></span>
              <% else %>
                <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
              <% end %>
            </td>
            <td>
              <%= establishment.excedent_brut_d_exploitation %> (<%= establishment.arrete_bilan.year %>)
              <% if establishment.excedent_brut_d_exploitation.nil? || establishment.excedent_brut_d_exploitation.nil? %>
                <span>-</span>
              <% elsif establishment.excedent_brut_d_exploitation > establishment.excedent_brut_d_exploitation %>
                <span class="fr-icon-arrow-up-s-line" aria-hidden="true"></span>
              <% else %>
                <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
              <% end %>
            </td>
            <td><%= link_to 'Voir', establishment %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>