<div class="fr-container">
  <h1><%= @establishment.raison_sociale %></h1>

  <p>
    Plein de données publiques visibles par tout le monde sur cet établissement
  </p>

  <button class="fr-btn">  <%= link_to 'Ajouter un nouvel accompagnement', new_establishment_establishment_tracking_path(@establishment) %></button>

  <% if @trackings.any? %>
    <div class="fr-table fr-table--bordered fr-mt-4w" id="table-md-component">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption>Liste des accompagnements</caption>
              <thead>
              <tr>
                <th scope="col">Créateur</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Statut</th>
                <th scope="col">Participants</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @trackings.each do |tracking| %>
                <tr>
                  <td><%= full_name(tracking.creator) %></td>
                  <td><%= tracking.start_date %></td>
                  <td><%= tracking.end_date %></td>
                  <td><%= tracking.status %></td>
                  <td>
                    <% tracking.participants.each do |participant| %>
                      <%= full_name(participant) %><br>
                    <% end %>
                  </td>
                  <td>
                    <div class="fr-grid-row">
                      <div class="fr-col-6">
                        <%= link_to 'Voir', establishment_establishment_tracking_path(@establishment, tracking), class: 'fr-link' %>
                      </div>
                      <div class="fr-col-6">
                        <div>
                          <%= link_to 'Supprimer', establishment_establishment_tracking_path(@establishment, tracking), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'fr-link' %>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p>Aucun accompagnement pour le moment</p>
  <% end %>

  <%= link_to 'Retour à la liste', establishment_trackings_path %>
</div>
