<div class="fr-col-12 fr-col-sm-10 fr-col-md-8">
  <div class="fr-container">

    <h1>Historique des accompagnements - <%= @establishment&.raison_sociale %></h1>

    <% if @in_progress_trackings.empty? %>
      <button class="fr-btn">
        <%= link_to 'Ajouter un nouvel accompagnement', new_establishment_establishment_tracking_path(@establishment) %>
      </button>
    <% end %>

    <% if @in_progress_trackings.any? %>
      <%= render partial: 'establishments/establishment_trackings_table_light', locals: { trackings: @in_progress_trackings, title: 'Accompagnements en cours' } %>
    <% end %>

    <% if @completed_trackings.any? %>
      <%= render partial: 'establishments/establishment_trackings_table_light', locals: { trackings: @completed_trackings, title: 'Accompagnements terminés' } %>
    <% end %>

    <% if @under_surveillance_trackings.any? %>
      <%= render partial: 'establishments/establishment_trackings_table_light', locals: { trackings: @under_surveillance_trackings, title: 'Surveillances' } %>
    <% end %>

    <%= link_to 'Retour à la liste', establishment_trackings_path %>
  </div>
</div>