<%# Message prévention %>
<% if user_signed_in? && current_user.should_show_confidentiality_modal? %>
  <div data-controller="confidentiality-modal" data-confidentiality-modal-should-show-value="true">
    <dialog id="sf-confidentiality-modal" class="fr-modal" aria-labelledby="sf-confidentiality-modal-title" data-fr-concealing-backdrop="false" data-confidentiality-modal-target="modal">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
          <div class="fr-modal__body">
            <div class="fr-modal__header">

            </div>
            <div class="fr-modal__content">
              <h2 id="sf-confidentiality-modal-title" class="fr-modal__title">
                <span class="fr-icon-warning-line fr-icon--lg" aria-hidden="true"></span> La confidentialité est l&#39;affaire de tous !
              </h2>
              <p>Les listes que vous consultez ainsi que les informations délivrées dans cet espace sécurisé sont sensibles. Il convient de les manipuler avec précaution et confidentialité.</p>

              <ul>
                <li>Ne partagez pas vos identifiants. Toutes les personnes habilitées à consulter ces listes en disposent ou pourront en disposer.</li>
                <li>Ne diffusez aucune information pouvant porter préjudice à une entreprise.</li>
                <li>Ne partagez que l'information factuelle nécessaire à l'accompagnement de l'entreprise.</li>
              </ul>

              <p><strong>Gardez à l'esprit que cette application existe dans le seul et unique but de porter assistance aux entreprises et de soutenir leur activité, ne détournez pas son usage.</strong></p>

              <p>En transgressant ces règles, vous vous exposez à des sanctions pouvant aller jusqu'à <strong>100 millions d'euros d'amende</strong>.</p>

              <p>Voir les articles <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006417944" target="_blank" rel="noopener external" class="fr-link">L226-13</a> et <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000044569907" target="_blank" rel="noopener external" class="fr-link">L432-12</a> du code pénal et <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000050369430" target="_blank" rel="noopener external" class="fr-link">L465-1</a> du code monétaire et financier.</p>

              <button
                class="fr-btn"
                data-action="click->confidentiality-modal#closeModal"
              >
                J'ai lu et j'engage ma responsabilité
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
  </div>
<% end %>

<div class="fr-skiplinks">
  <nav role="navigation" aria-label="Accès rapide" class="fr-container">
    <ul class="fr-skiplinks__list">
      <li>
        <a class="fr-link" href="#content">Contenu</a>
      </li>
      <li>
        <a class="fr-link" href="#header-navigation">Menu</a>
      </li>
      <li>
        <a class="fr-link" href="#footer">Pied de page</a>
      </li>
    </ul>
  </nav>
</div>

<header role="banner" class="fr-header" id="header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo"> République <br>Française </p>
            </div>
            <div class="fr-header__navbar">
              <button data-fr-opened="false" aria-controls="header-menu" title="Menu" type="button" id="header-menu-btn" class="fr-btn--menu fr-btn">Menu</button>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to home_path, class: "fr-nav__link", title: "Retour à l'accueil du site - Signaux Faibles - République Française" do %>
              <p class="fr-header__service-title"> Signaux Faibles </p>
            <% end %>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                <button class="fr-btn fr-icon-theme-fill" aria-controls="fr-theme-modal" data-fr-opened="false" data-action="click->theme#open" data-theme-target="button" data-turbo-permanent>Paramètres d'affichage</button>
              </li>
              <% if current_user != true_user && current_user&.segment&.name != "sf" %>
                <li>
                  <%= button_to("Retour à l'admin", stop_impersonating_users_path, data: { turbo: false }, class: 'fr-btn fr-icon-settings-5-fill') %>
                </li>
              <% end %>
              <% if current_user&.segment&.name == "sf" %>
                <li>
                  <%= link_to admin_root_path, class: 'fr-btn fr-icon-settings-5-fill' do %>
                    Administration centrale
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to "#{current_user&.full_name}", "#", class: 'fr-btn fr-icon-account-circle-fill' %>
              </li>
              <li>
                <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false } do %>
                  <%= submit_tag 'Se déconnecter', class: 'fr-btn fr-icon-logout-box-r-fill' %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal" id="header-menu" aria-labelledby="header-menu-btn">
    <div class="fr-container">
      <button aria-controls="header-menu" title="Fermer" type="button" id="button-101" class="fr-btn--close fr-btn">Fermer</button>
      <div class="fr-header__menu-links">
        <ul class="fr-btns-group">
          <li>
            <button class="fr-btn fr-icon-theme-fill" aria-controls="fr-theme-modal" data-fr-opened="false" data-action="click->theme#open" data-theme-target="button" data-turbo-permanent>Paramètres d'affichage</button>
          </li>
          <% if current_user != true_user && current_user&.segment&.name != "sf" %>
            <li>
              <%= button_to("Retour à l'admin", stop_impersonating_users_path, data: { turbo: false }, class: 'fr-btn fr-icon-settings-5-fill') %>
            </li>
          <% end %>
          <% if current_user&.segment&.name == "sf" %>
            <li>
              <%= link_to admin_root_path, class: 'fr-btn fr-icon-settings-5-fill' do %>
                Administration centrale
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to "#{current_user&.full_name}", "#", class: 'fr-btn fr-icon-account-circle-fill' %>
          </li>
          <li>
            <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false } do %>
              <%= submit_tag 'Se déconnecter', class: 'fr-btn fr-icon-logout-box-r-fill' %>
            <% end %>
          </li>
        </ul>
      </div>

      <%= render 'layouts/main_navigation' %>
    </div>
  </div>
</header>
