<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>française
              </p>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - Signaux Faibles">
              <p class="fr-header__service-title">
                Signaux Faibles
              </p>
            </a>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                <button class="fr-btn fr-icon-theme-fill" aria-controls="fr-theme-modal" data-fr-opened="false" data-action="click->theme#open" data-theme-target="button" data-turbo-permanent>Paramètres d'affichage</button>
              </li>
            </ul>
            <ul class="fr-btns-group">
              <li>
                <% if current_user != true_user && current_user&.segment&.name != "sf" %>
                  <%= button_to("Retour à l'admin", stop_impersonating_users_path, data: { turbo: false }, class: 'fr-btn fr-icon-settings-5-fill') %>
                <% end %>
              </li>
              <li>
                <% if current_user&.segment&.name == "sf" %>
                  <%= link_to admin_root_path, class: 'fr-btn fr-icon-settings-5-fill' do %>
                    Administration centrale
                  <% end %>
                <% end %>
              </li>
              <li>
                <%= link_to "#{current_user&.full_name}", "#", class: 'fr-btn fr-icon-account-circle-fill' %>
              </li>
              <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false } do %>
                <%= submit_tag 'Se déconnecter', class: 'fr-btn fr-icon-logout-box-r-fill' %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/main_navigation' %>
</header>
