<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Signaux
                <br>
                Faibles
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to "#Home", title: "Accueil - Signaux Faibles)"  do %>
              <p class="fr-header__service-title">
                Signaux Faibles
              </p>
            <% end %>
            <% if user_signed_in? %>
              <p class="fr-header__service-tagline">
                Mieux cibler les interventions en remédiation de l’État vers les entreprises en difficulté
              </p>
            <% end %>

          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                <% if current_user != true_user && current_user.segment.name != "sf" %>
                  <%= button_to("Retour à l'admin", stop_impersonating_users_path, data: { turbo: false },  class: 'fr-btn fr-icon-settings-5-fill') %>
                <% end %>
              </li>
              <li>
                  <% if current_user.segment.name == "sf" %>
                    <%= link_to admin_root_path, class: 'fr-btn fr-icon-settings-5-fill' do %>
                      Administration centrale
                    <% end %>
                  <% end %>
              </li>
              <li>
                <%= link_to "#{current_user&.full_name} (#{current_user&.segment&.name})","#", class: 'fr-btn fr-icon-account-circle-fill' %>
              </li>
              <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false } do %>
                <%= submit_tag 'Se déconnecter', class: 'fr-btn fr-icon-logout-box-r-fill' %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/main_navigation' %>
</header>

