<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Signaux
                <br>
                Faibles
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to "#Home", title: "Accueil - Signaux Faibles)"  do %>
              <p class="fr-header__service-title">
                Signaux Faibles
              </p>
            <% end %>
            <p class="fr-header__service-tagline">Service : Nom du service (Urssaf, DGFIP,...)</p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                Retour à l'admin
              </li>
              <li>
                  <%= link_to '#', class: 'fr-btn fr-icon-settings-5-fill' do %>
                    Administration centrale
                  <% end %>
              </li>
              <li>
                <%= link_to(t('my_profile'),"#", class: 'fr-btn fr-icon-account-circle-fill') %>
              </li>
              <li>
                <%= link_to t('log_out'), "#", class: 'fr-btn fr-icon-logout-box-r-fill' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/main_navigation' %>
</header>

