<!DOCTYPE html>
<html>
<head>
  <title>SignauxFaiblesV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag asset_path('dsfr.css'), media: 'all' %>
  <%= stylesheet_link_tag asset_path('utility.css'), media: 'all' %>

  <script
    src="https://browser.sentry-cdn.com/8.47.0/bundle.tracing.min.js"
    integrity="sha384-wYec/atCKBIhxMeAqO4JgQzLgv7nPphrOELh1UduVUFqt5DXn0Ey8pqiYEyYvZZ3"
    crossorigin="anonymous"
    defer>
  </script>

  <script defer>
      document.addEventListener('DOMContentLoaded', function () {
          Sentry.init({
              dsn: "<%= ENV['SENTRY_DSN'] %>",
              environment: "<%= ENV['SENTRY_ENV'] || Rails.env %>",
              tracesSampleRate: 0.1,
          });

          <% if user_signed_in? %>
          Sentry.setUser({email: "<%= current_user.email %>"});
          <% end %>
      });
  </script>

  <%= javascript_importmap_tags %>
</head>

<body>
<%= render 'layouts/header' %>
<!-- In some circumstances, Devise adds a :timedout key to the flash hash, which is not meant for display. Remove this key from the hash if you intend to print the entire hash. -->
<div id="flash">
  <% flash.delete(:timedout).each do |type, msg| %>
    <div class="fr-alert fr-alert--<%= dsfr_class_for(type) %> fr-alert--sm">
      <p><%= msg %></p>
    </div>
  <% end %>
</div>

<main class="fr-pt-4w">
  <%= yield %>
</main>

<%# render 'layouts/footer' %>

<!-- Non-module script for older browsers -->
<script src="<%= asset_path 'dsfr.nomodule.min.js' %>" nomodule></script>
</body>
</html>
